[2017-12-30 07:41] mweststrate opened #2 "Auto freeze in dev mode"

[2017-12-30 07:41] mweststrate opened #3 "Give warning if something is returned from thunk"

[2017-12-30 07:42] mweststrate opened #4 "Use better names: currentState, draftState and nextState"

[2017-12-30 07:43] mweststrate opened #5 "Add ts / flow typings"

[2017-12-30 08:25] mweststrate opened #6 "Create performance tests"

[2017-12-30 08:27] mweststrate opened #7 "Add Travis, batches, coverage, cdn, umd build and such"
- [x] Travis added with f895e016dd4c3374fe5e7f95ff4d642dffbb0367  _thanks @Gregjarvez_
- [ ] batches
- [ ] test coverage
- [ ] cdn
- [ ] umd build

[2017-12-30 08:58] mweststrate opened #8 "Create es5 compatible version"
If there is enough interest.

Proxy using defineProperty (the mobx way), use faux arrays and dirty check for key additions

[2017-12-30 23:00] mweststrate opened #10 "Make sure all proxies die after immer func ends"
Protects people against accidentally using proxies in async fashion etc

[2017-12-30 23:06] benbraou commented on #4
I think this issue has been addressed with commit a3fcf043e26120003852084e4262ae87fd1ab683

[2017-12-31 03:05] skvale opened #12 "Can't set a defined draft property to undefined"
[code]
throws `Cannot read property 'Symbol(immer-proxy)' of undefined`

Example --
https://stackblitz.com/edit/react-9qe1eg

[2017-12-31 07:52] #12 closed

[2017-12-31 07:53] #5 closed

[2017-12-31 14:05] #4 closed

[2017-12-31 14:06] mweststrate commented on #4
Done

[2017-12-31 19:07] mweststrate commented on #6
plain js / vs immutable js / vs immer / vs immer without freezing (See #15)

Some scenarios

* modify the most of a small tree
* modify an item in a large collection
* read through a large collection an modify an item

[2018-01-01 03:18] Gregjarvez commented on #3
Hi. I am new to contributing to open source and I am really. I work on #3.
   1 . I checked if something either than undefined was returns for invoking the thunk and printed a
        warning as request
 2.  One test was added and function was added.

Fixes #3

[2018-01-01 11:50] mweststrate commented on #3
See #16

[2018-01-01 12:01] mweststrate commented on #3
Thanks a lot @Gregjarvez! Left a few comments, but looking good :)

[2018-01-01 18:46] #10 closed

[2018-01-01 19:22] mweststrate commented on #3
Released as part of 0.1.0

[2018-01-01 19:22] #3 closed

[2018-01-01 19:22] mweststrate commented on #2
Released as 0.1.0

[2018-01-01 19:22] #2 closed

[2018-01-01 20:25] #6 closed

[2018-01-01 22:36] alisd23 opened #18 "Typings not published"
The current version (0.1.0) on npm does not come with the `index.d.ts` file.

[2018-01-01 23:05] benbraou commented on #18
Thank you @alisd23 for reporting!

[2018-01-02 14:18] mattiamanzati commented on #8
I was thinking about a compiler-wise option, something like a babel (or TS) plugin transformer that looks for immer() calls, and add calls to a function to report which parts of draftState may have changed, and then just compare them instead of the whole state

[2018-01-02 14:44] mweststrate commented on #8
I think this problem is relatively easily solvable . Gonna try tonight

On di 2 jan. 2018 15:18 Mattia Manzati <notifications@github.com> wrote:

[2018-01-02 20:12] #18 closed

[2018-01-02 20:51] Gregjarvez commented on #7
I've been researching what batches are but, It ain't kicking it. if you wanna give me a run down I can do that tonight ?. And coverage. test coverage? @mweststrate @benbraou

[2018-01-02 20:54] mweststrate commented on #18
Fixed in 0.1.1

[2018-01-02 22:03] benbraou commented on #7
@Gregjarvez yes it is about test coverage
what is done in https://github.com/mobxjs/mobx may help
For the rest, I let @mweststrate clarify

[2018-01-02 22:51] mweststrate commented on #8
Yes, it is solvable :) Implementation is basically ready but needs merging into the original impl (with code reuse, now just copy pasted the base file), see #22

[2018-01-02 23:19] mweststrate commented on #7
Yep, build, code style, coverage (run jest with `--coverage` and pipe it through coveralls works pretty great usually), donate badges would be cool. Gitter channel is not needed.

CDN is is simply the unpkg.com link.

Don't bother about the UMD / ESM builds yet, I first want to figure out what the best way is to export the library in the light of supporting different runtime platforms (with and wi

[2018-01-02 23:20] mweststrate commented on #7
Eh wait, CDN should link to the UMD build, so skip for now :)

[2018-01-02 23:40] Gregjarvez commented on #7
Awesome. I will try and work on them tomorrow !. Thanks for the explanation @mweststrate @benbraou

[2018-01-03 14:25] mweststrate opened #23 "Add more test cases"
Do weird things. Try to break it.

[2018-01-03 14:48] mweststrate opened #24 "Api name"
I am not too excited about `immer` as function name as it is undescriptive. What should the idiomatic name be?

Transform? Update? withMutations? Make?

[2018-01-03 14:53] mweststrate commented on #24
Produce? Next? Mutate? Modify?

[2018-01-03 15:42] Gregjarvez commented on #24
I was thinking about it too. Since it was designed primarily with redux in mind. i think the idiomatic name should contain redux-<something>

[2018-01-03 17:15] #8 closed

[2018-01-03 17:19] mweststrate commented on #8
Released! As 0.2.0. Faux arrays weren't needed, so object / array semantics remain true :)

[2018-01-03 23:23] mweststrate opened #26 "Looking for feedback / testimonials"
Hi all!

I'm looking for feedback. If you tried / are trying this package, how do you experience it? Does it deliver what it promises? Does it help reduce amount / complexity of code? Is there anything you are missing or that could be improved in this package or the docs?

Any kind of feedback is appreciated, thanks!

[2018-01-04 01:18] AriaFallah commented on #24
@Gregjarvez this isn't coupled to redux though. It's for anything that you need to update immutably.

Regarding the actual name, I think "Create the next immutable state" from the README really captures the essence of what `immer` does. Thus, if verbosity wasn't an issue, then `createNextStateImmutably` would perfectly describe it. However, I do think that's a bit wordy so I maybe something like `

[2018-01-04 01:40] AriaFallah commented on #26
I really like it and it helps a lot. Don't have much else to say about that. Immutability is a lot of boilerplate, and this helps get rid of that boilerplate in a very simple way.

Personally, my biggest issue with it is that it's not very performant. I get that one shouldn't worry about performance until it's an actual issue, premature optimization is bad, one should measure and figure out if imm

[2018-01-04 02:29] benbraou commented on #26
Great job for this library  :)
I have started to use `immer` in a personal project.
As a library user, what I like most is amount of boilerplate it saves.
As a developer, I like the implementation details (use of proxy)

Documentation improvement: it would be nice to update the reducer example with REMOVE_TODO case. The goal is to show the usage of `splice` as opposed to `filter`. More generally,

[2018-01-04 02:41] benbraou commented on #24
I like`withMutations ` because it is familiar (`immutable.js`)
`next` and `produce` also convey the puropose of the library

[2018-01-04 03:28] hex13 commented on #24
I named similar function `transform` in my `transmutable` library.
https://github.com/hex13/enter-ghost/tree/master/packages/transmutable
I think it's kind of have sense - we're transforming the state by giving recipe of "how to transform"

On the other side `redux.*` would be horrible name - what if somebody would like to use this library out of Redux context? Coupling is bad, even in naming.

`n

[2018-01-04 03:39] hex13 commented on #26
I'm looking for feedback. If you tried / are trying this package, how do you experience it? Does it deliver what it promises? Does it help reduce amount / complexity of code? Is there anything you are missing or that could be improved in this package or the docs?

I think good idea would be middleware for Redux which would automatically call transform

[code]

this way it would be even less verbos

[2018-01-04 03:49] hex13 commented on #26
I think good idea would be middleware for Redux which would automatically call transform

[code]

this way it would be even less verbose - no need for manually invoking function.

But I think two syntaxes should be supported. If somebody would refactor existing code, there will be both "mutable" and classic style reducers:
[code]
So it may detect if reducer returned an object (classic style) or no

[2018-01-04 05:41] alexkrolick commented on #24
Some ideas:

- `finalize`
- `finalizeDraft`
- `applyDraftChanges`
- `applyDiffFromDraft`
- `applyDiff`
- `newStateFromDraft`

I like having `draft` in there because it makes it clear that the **return value** of the 2nd argument (`fn(draftStart)`) is what is important.

[2018-01-04 12:25] frinyvonnick opened #27 "Drop of performances on node 9"
Hi,

I tried the performance benchmark on different versions of node and i experienced a weird drop of performances.

Here are my computer specifications:

[code]

On 8.4.0:

[code]

On 9.3.0:

[code]

I didn't found out the cause of this.

[2018-01-04 13:17] mweststrate commented on #27
That is remarkable? Did you try it a few times? You could try to put the immer tests first, as I didn't figure out how to expose the garbage collector api with jest yet, so the performance tests are not really isolated; the garbage collector might kick in at the wrong moment.

[2018-01-04 13:32] frinyvonnick commented on #27
Yes i tried multiples times. To see if garbage collector impact tests i forced it before each test and skip other tests so we only test immer and each test is "isolated".

test script:
[code]

before each
[code]

Here are the results:

On 8.4.0:

[code]

On 9.3.0:

[code]

So garbage collector and other tests had an impact on my first results but there is still a drop of performances.

[2018-01-04 14:06] hex13 opened #29 "Mobx"
Did you thought about integrating immer into Mobx? (just curious). Observable that would modify themselves in immutable way. That could make Mobx immutable in simple way.

[2018-01-04 14:13] mweststrate commented on #24
Or just

`import ✏ from "immer" `

[code]

:)

[2018-01-04 14:22] mweststrate commented on #24
I'm thinking about `transform(state, recipe: draft => {})`, it is short, makes quite clear that it produces a next state from the current one, and makes it nicely explainable:

"_transform_ the current _state_ to produce the next state according to this _recipe_ that expresses how a _draft_ state should be changed"

[2018-01-04 14:30] hex13 opened #30 "implementation comparison"
I made similar library (also auto-immutability via Proxy) but my library takes quite a different approach to implementation.
https://github.com/hex13/enter-ghost/tree/master/packages/transmutable

I don’t create copies in `set` traps. Instead of that I only “record” mutations like they were events (I’ve got an array with list of “what happened”, e.g.
[code]

get recorded as
[code]

Then (after rec

[2018-01-04 15:45] alexkrolick commented on #24
"Transform" implies mutations, to me.

`nextState(currentState, transform)`

🤔

[2018-01-04 15:49] Gregjarvez commented on #24
if the draft eventually becomes the next state
[code]

:)

[2018-01-04 19:31] mweststrate commented on #24
I think @alexkrolick brings up a good point, transform might imply modification existing data for many. _produce_ probably makes it clearer something new is created

[code]

[2018-01-04 19:37] mweststrate opened #31 "Introduce `create(Immer)Reducer` utility?"
the pattern is now typically:

[code]

So we could introduce a utility

`createImmerReducer(fn: (draftState, action) => {})`

which allows writing

[code]

The implementation would roughly be:

[code]

[2018-01-04 20:05] AjaxSolutions commented on #24
Definitely not immer.

The Urban Dictionary defines immer as someone who IMs a lot.

[2018-01-04 20:21] mweststrate commented on #27
Just improved the test setup to leverage the garbage collector.

@frinyvonnick could you check again if the differences are still as big?

[2018-01-04 20:42] hex13 commented on #24
two ideas:
1. swap parameters (recipe, state) instead of other way around. It could be counterintuitive but it could help with partial application and reusing transformations.
2. allow for passing additional parameters to `recipe` function

[code]

though this is one liner but having such things in library out-of-the-box could be nice. Or it could use curry instead of partial application

(related

[2018-01-04 20:59] alexkrolick commented on #24
@hex13 file a new issue for that? A separate thread would be nice.

[2018-01-04 21:01] mweststrate commented on #30
I'll try to find time to answer the question later on, but the `<1 empty item` is actually a bug :) and appears only when handling non-freezed data. Will investigate!

[2018-01-04 21:02] mweststrate opened #32 "When working with unfreezed data, changes are sometimes not properly reflected"
See #30 for an example

[2018-01-04 21:14] mweststrate commented on #32
Seems to relate to `console.dir` in node 8.4, value seems correct, investigating further

[2018-01-04 21:31] mweststrate commented on #24
@hex13 indeed, deserves separate issue :) also see #31, quite related

[2018-01-04 21:33] frinyvonnick commented on #27
Here are the results with your last update:

On 8.4.0:
[code]

On 9.3.0:
[code]

The main problem seems to be related to proxies despite of the overall augmentation

[2018-01-04 21:36] #30 closed

[2018-01-04 21:36] #32 closed

[2018-01-05 02:06] nlepage commented on #27
Hi :wave:

I wrote a modified version at [immutadot](https://github.com/Zenika/immutadot/blob/benchmark/enhance/packages/immutadot-benchmark/src/benchmark.spec.js) which runs each test in a loop and computes an average execution time.
This way garbage collector time should not mess too badly with execution time...

Node 8.9.4 :
[code]

Node 9.2.0 :
[code]

Results are staying close except for loda

[2018-01-05 11:10] marvinroger commented on #31
To handle the initial state, I'd rather do that:

[code]

That you can use like that:

[code]

[2018-01-05 11:59] mweststrate opened #34 "add flow typings"

[2018-01-05 15:36] hex13 commented on #31
what with the reducers called by main reducer?

if I'm not mistaken it would be sufficient to just mark top-level reducer and rest of reducers could be called as normal functions?

[code]

[2018-01-05 15:42] achung89 opened #35 "immerMap function"
possibly add an immer implementation that can be used with map/filter/forEach
[code]

[2018-01-05 16:29] hex13 commented on #35
this is why we could use of swap arguments and currying.

(proposal)
[code]

[2018-01-05 16:34] hex13 opened #36 "idea: swap arguments and support curry"
(related to #24 )

idea:
1. swap parameters (recipe, state) instead of other way around. It could be counterintuitive but it could help with partial application(or curry) and reusing transformations.
2. if `immer` is called with only first argument (recipe function) it would not transform but return other function with recipe function bound
3.  allow for passing additional parameters to `recipe` f

[2018-01-05 17:04] AriaFallah commented on #34
Wouldn't it be the same as typescript?

[code]

[2018-01-05 17:58] mweststrate commented on #34
Probably yes 😊. Didn't figure out how flow should find the typings though.
So probably an easy PR for anybody familiar with that

On vr 5 jan. 2018 18:04 Aria Fallah <notifications@github.com> wrote:

[2018-01-05 18:22] lukasbuenger commented on #36
While I absolutely agree with all of your points, I think it really does look counterintuitive to anybody not embracing FP style and I'm not quite sure whether this library wants to enforce that.
In this case though, with the immer being stateless and of a fixed arity 2, it is quite easy to decorate `immer` somewhere in your project and just import from there.
[code]

If ramda is your thing you co

[2018-01-05 18:46] mweststrate commented on #36
I quite like the idea. I'm gonna look closer next week, but since the arguments are pretty distinguishable, I think all these could be supported

[code]

[2018-01-05 19:07] lukasbuenger commented on #36
Given the fact that signatures 2 and 3 are probably preferred by FP people only, I think it is safe to say that FP minded users groks the concept if you put something like the following in the docs.
To support the behavior by default you'll have to either maintain at least some dependencies or implement curry yourself (again).

Using ramda:
[code]

Using lodash:
[code]

[2018-01-05 22:36] mweststrate commented on #27
@frinyvonnick optimizations are in progress in the `feature/optimization` branch, my results are now as follows, completely removing the drop on node 9, and improving the general performance 4-6 times

8.4:
[code]
9.3:
[code]

[2018-01-05 22:38] mweststrate commented on #26
@AriaFallah i'm currently optimizing the proxy implementation, and it looks very promising :)

https://github.com/mweststrate/immer/issues/27#issuecomment-355684358

Which seems to be roughly a 2 fold drop over a hand written reducer (with auto freezing disabled, which a normal reducer also doesn't do ;-)).

[2018-01-06 10:39] frinyvonnick commented on #27
Nice job 👍

[2018-01-07 03:41] mpeyper commented on #31
Personally, I would just go with `createReducer` as the import tells me it's an "immer" reducer

[code]

I would also like to see a few other utilities that help with redux interop and reusing as much of the redux ecosystem as possible:

- `combineMutators` - `combineReducers` equivalent for immer mutators.  Passes slices of the draft off to sub-mutators to handle
[code]

- `createMutator` - conve

[2018-01-08 09:56] mweststrate opened #41 "Immer needs a logo!"

[2018-01-08 09:57] mweststrate opened #42 "Immer should always use `Object.is` for equality checks"

[2018-01-08 20:08] #7 closed

[2018-01-08 20:38] mweststrate opened #43 "increase code coverage"
some pieces of code are untouched. Lets fix!

[2018-01-08 21:04] mweststrate commented on #27
Should be solved by 0.3.0

[2018-01-08 21:04] #27 closed

[2018-01-09 01:07] epikhighs opened #45 "how to read the performance chart"
Do higher numbers mean better performance?

https://github.com/mweststrate/immer#performance

Thanks.

[2018-01-09 01:27] mweststrate commented on #45
No worse. Numbers are milliseconds

On di 9 jan. 2018 02:07 Daniel Ji <notifications@github.com> wrote:

[2018-01-09 01:32] epikhighs commented on #45
wow that's pretty nice performance for immer -  i've been looking for an alternative to immutable.js that just works with existing JS objects and has the nice performance characteristics.

Are you using this in production?

[2018-01-09 07:47] mweststrate commented on #45
Nope, nor will I soon I think, as I don't have any active Redux / immutability based project app. Probably others are, or are soon. (the project is only 2 weeks old)

[2018-01-09 07:47] #45 closed

[2018-01-09 08:44] mweststrate commented on #24
`produce` it will be. It allows for the concept of _producers_ which nicely rhymes with _reducers_ :). Will soon update. Or if someone beats me to it that is fine as well ;-). (make sure to claim the issue)

[2018-01-09 09:17] mweststrate opened #46 "support NODE_ENV='production' substitution to turn of auto-freeze"

[2018-01-09 09:17] mweststrate opened #47 "create UMD builds"

[2018-01-09 09:17] #23 closed

[2018-01-09 09:18] mweststrate opened #48 "verify nested immer calls"

[2018-01-09 10:39] hex13 opened #49 "typos in readme"
"reducure", "negclectable.", "implentation".

[2018-01-09 13:37] Gregjarvez commented on #46
@mweststrate I want to give this one a shot tonight if I get time.
So basically make sure auto Freeze is off when the code builds in production mode irrespective of it being specified in the code as on?

[2018-01-09 13:50] mweststrate commented on #46
node, the otherway around; in the source code the variable now defaults to
'true', but it should default to `autoFreeze = process.env.NODE_ENV !==
"production"`  and further respect any `setAutoFreeze` call. I'm not sure
what the nicest way is to set this up, but you can look at the React or
mobx-state-tree repo's for inspiration. If it requires setting up a bundler
that is fine (preferrably rollu

[2018-01-09 16:37] Gregjarvez commented on #46
@mweststrate oh okay. I will take a look at that tonight

[2018-01-09 18:58] #49 closed

[2018-01-09 20:48] mweststrate commented on #47
Fixed in 0.4.1

[2018-01-09 20:48] #47 closed

[2018-01-09 20:49] mweststrate commented on #36
Implemented in 0.4.1, see https://github.com/mweststrate/immer#currying

[2018-01-09 20:49] #36 closed

[2018-01-09 20:50] mweststrate commented on #24
Done

[2018-01-09 20:50] #24 closed

[2018-01-09 20:54] mweststrate commented on #31
Implemented in currying 0.4.0, see https://github.com/mweststrate/immer#currying

`createReducer`  is not really needed anymore because `produce`  supports currying. So `reducer = produce({ draft, action} => {})`  does the trick now

I think `combineMutators` as proposed above is potentially a bit dangerous. It would be no problem from technical perspective, but it will mean that individual reduce

[2018-01-09 20:54] #31 closed

[2018-01-09 20:55] mweststrate commented on #35
Implemented in 0.4.0. See https://github.com/mweststrate/immer#currying. The first example covers the above

[2018-01-09 20:55] #35 closed

[2018-01-09 23:00] hex13 opened #50 "Can't log arrays (TypeError)"
immer 0.4.1, Node v8.4.0

[code]

[code]

[2018-01-10 02:12] zhw2590582 commented on #50
https://github.com/mweststrate/immer/blob/29e22580849f66311d089a3362972053b1ecbe09/immer.js#L157
When you directly access an array itself, 'length' property is an exception from this, immer attempts to modify the descriptor's configurable property, So TypeError.
How is this?
[code]
@mweststrate

[2018-01-10 08:16] mweststrate commented on #50
@zhw2590582 correct! Forgot that `Array.length` is as usual an exception to everything :/. working on a fix.

[2018-01-10 08:38] #50 closed

[2018-01-10 08:38] mweststrate commented on #50
Should be fixed in 0.4.2

[2018-01-10 11:25] atrocious opened #51 "ES5 is no longer ES5"
After the 'immer -> produce' change, produce uses classes and arrow functions in the es5 build, causing IE11 to have a fit :)

[2018-01-10 11:55] mweststrate commented on #51
argh good point. Yep, need to transpile now :'(

Op wo 10 jan. 2018 om 12:25 schreef atrocious <notifications@github.com>:

[2018-01-10 11:55] mweststrate commented on #51
Will fix tonight

[2018-01-10 16:29] mweststrate commented on #51
should be fixed in 0.5, could you verify?

[2018-01-10 16:50] atrocious commented on #51
Yeah it works now. :D Thanks for creating this, I love immer!

[2018-01-10 16:50] #51 closed

[2018-01-10 18:54] Teyras opened #52 "Cannot minify immer.js in create-react-app"
The title says it all, basically. When I tried to create an optimized production build of a project that uses immer with `create-react-app`, I got told that `immer.js` cannot be minified. I believe this is because you do not terminate your statements with semicolons - the first error was on line 10. Is there anything that can be done about this?

[2018-01-10 19:00] hex13 opened #53 "TypeError: Cannot perform 'get' on a proxy that has been revoked"
Node: 8.4.0
immer: 0.5.0

[code]
`result.arr[0].count` seems to be troublesome, even referencing to this variable throws an error.

Result of function `produce` should be a plain JS object, right? Because it seems that the result sometimes contains proxies inside.

[2018-01-10 20:14] mweststrate commented on #52
@Teyras could you retry with 0.6.0? The versions before that optimized the default output for modern browsers. I just made ES5 the default target

[2018-01-11 01:26] zhw2590582 opened #54 "Does not seem to support changing the root object type."
Consider adding some warnings for this?

[code]

[2018-01-11 03:00] zhw2590582 commented on #53
I think the bug is here.

https://github.com/mweststrate/immer/blob/553b6cefb4e6bdaae455663fa6a15f857d4c8d93/src/immer.js#L196

I think you missed something like this. right?
[code]

[2018-01-11 04:38] zhw2590582 commented on #53
[code]
In this case, `finalize` function is executed twice.
If `base` is a proxy object, `isProxy(base)` is true.
[code]
If `base` is a proxy array, `isProxy(base)` is false, and return a proxy.
[code]
I think you should first determine the type of object, as before, right?
[code]

[2018-01-11 05:23] NE-SmallTown opened #57 "[Question]Maybe the README example could be adjusted a little"
[code]

[2018-01-11 07:44] mweststrate commented on #54
@zhw2590582 your example doesn't modify the draft object, it just changes the _reference_ to the draft.

Compare:
[code]
This will print `[3]` first, but in the end still `{x: 3}`. You reassigned the variable called `thing`, but didn't actually change the thing `thing`  was pointing to.

Most language properly protect against this. But in the JavaScript case; setting up proper linting should prote

[2018-01-11 07:45] #54 closed

[2018-01-11 08:19] mweststrate commented on #54
See https://eslint.org/docs/rules/no-param-reassign

[2018-01-11 09:31] mweststrate commented on #53
Bug confirmed, fix WIP

[2018-01-11 10:47] mweststrate commented on #53
Fixed in 0.6.1

[2018-01-11 10:47] #53 closed

[2018-01-11 22:20] mweststrate opened #58 "create smaller standard built"
Currently < 3KB, but, could be smaller by

1. using rollup
2. share common pieces of functionality between es5 and immer.js implementation
3. make the classes methodless

[2018-01-12 08:33] #43 closed

[2018-01-12 08:33] mweststrate commented on #42
Improved in 0.7

[2018-01-12 08:33] #42 closed

[2018-01-12 08:33] mweststrate commented on #48
Verified in latest tests

[2018-01-12 08:33] #48 closed

[2018-01-12 14:09] arthurdenner commented on #52
@mweststrate, I've tested and it is working fine with 0.6.0 or above. Thanks for fixing it.

[2018-01-12 21:26] mweststrate commented on #52
Fixed in 0.6

[2018-01-12 21:26] #52 closed

[2018-01-12 21:27] mweststrate commented on #57
I think the whole section could be dropped. Doesn't really add any value, one good example suffices better than 5 contrived ones.

[2018-01-13 08:11] pandanoir opened #60 "minified version"
I want to use minified file, but now immer doesn't have a minified version.

[2018-01-13 08:53] mweststrate commented on #60
Umd?

Op za 13 jan. 2018 09:11 schreef Naoto Ikuno <notifications@github.com>:

[2018-01-13 09:11] sharmad-nachnolkar opened #61 "Support with Typescript?"
Hi,

I am using typescript in my project. If Immer just uses native JS objects then it means that TS suggestions and compile errors should work right?

[2018-01-13 09:42] mweststrate commented on #61
Yes. Typescript typings are included in the package, so you shouldn't need
to setup anything when importing the module in a TS project

Op za 13 jan. 2018 om 10:11 schreef sharmad-nachnolkar <
notifications@github.com>:

[2018-01-13 11:16] pandanoir commented on #60
yes.
https://unpkg.com/immer/dist/immer.umd.js
This CDN file isn't minified. Many libraries, such as jQuery, lodash and riot.js, provide minified files.

[2018-01-13 12:24] sharmad-nachnolkar commented on #61
Thanks for the quick reply. I am working on a new project and had started using Immutable.js but its set and get api don't provide the type checks with typescript. I am going to try and switch to Immer. Thanks!

[2018-01-13 12:40] MartinKolarik commented on #60
You can use [jsDelivr CDN](https://www.jsdelivr.com/), it supports on-demand minification of any file: https://cdn.jsdelivr.net/npm/immer/dist/immer.umd.min.js

[2018-01-13 13:18] #61 closed

[2018-01-13 13:47] joshwcomeau opened #62 "Support null-soaking on the draft state?"
One of the major pain points when dealing with nested data in Javascript is not having a "null soak" (AKA existential) operator.

Coffeescript has a built-in one:

[code]

Immutable.js offers a similar pattern with [getIn](https://facebook.github.io/immutable-js/docs/#/getIn), albeit with a really-not-great API:

[code]

I wonder if it would be possible/feasible to add such a solution for the `dra

[2018-01-13 13:49] joshwcomeau commented on #62
Gonna close the issue, since I no longer think this is a worthwhile thing to add, but feel free to reopen if anyone thinks there's more discussion to be had here!

[2018-01-13 13:49] #62 closed

[2018-01-13 14:54] arthurdenner commented on #58
Hi, @mweststrate.

What about using [microbundle](https://github.com/developit/microbundle)? It's powered by rollup and seems to do everything you want with only one command. I tested and this was the output:

![image](https://user-images.githubusercontent.com/13774309/34907076-bf40185e-f857-11e7-92d5-615101c2335b.png)

If you think this result is good enough, I can open a PR to add it.

[2018-01-13 15:11] mweststrate commented on #58
That looks convenient! Feel free to PR. Will it uglify the umd build?

Op za 13 jan. 2018 om 15:54 schreef Arthur Denner <notifications@github.com

[2018-01-13 15:36] arthurdenner commented on #58
Yes, it compress the output using UglifyJS by default, but I'm not sure if it fulfills your needs, so I'm going to open a PR so you can analyze it.

[2018-01-13 18:01] hex13 commented on #62
I think `get` from lodash could be used for such thing

[code]

[2018-01-13 19:11] mweststrate commented on #60
That is freaking small

Op za 13 jan. 2018 om 13:40 schreef Martin Kolárik <notifications@github.com

[2018-01-14 16:59] sharmad-nachnolkar opened #65 "Does immer retain the same old reference if data is unchanged?"
If data is unchanged, does immer return the original reference like immutable.js? This would help when used in redux connect method to power props to react containers.

[2018-01-14 19:29] mweststrate commented on #65
Yes

On zo 14 jan. 2018 17:59 sharmad-nachnolkar <notifications@github.com>
wrote:

[2018-01-15 08:54] #65 closed

[2018-01-15 14:00] web2wire opened #66 "Using 'produce' in selectors"
I'm not sure if this is a issue with immer, which conceptually I love, or I'm using it wrong so I'd be interested to hear thoughts on this.

I'm trying to plug immer into a relatively small React/Redux project I have on the go. In reducers it all seems to work exactly as expected as the inputs are essentially a merge of the old state and an action payload.

However I then started looking at some o

[2018-01-15 14:05] mweststrate commented on #66
Please include something small and testable

[2018-01-15 14:30] web2wire commented on #66
Will do. Do you know of an immer sandbox example I can fork as it's much easier than getting one working from scratch.

[2018-01-15 14:33] mweststrate commented on #66
You can pick https://codesandbox.io/s/k557jo8jl7. But basically any sandbox
will work, just import from "immer" and let sandbox do its magic

Op ma 15 jan. 2018 om 15:30 schreef Philip Coombes <notifications@github.com

[2018-01-16 04:51] pandanoir commented on #60
I didn't know that jsDelivr CDN automatically minify and provide a JS file. Thank you!

[2018-01-16 04:51] #60 closed

[2018-01-16 08:01] #57 closed

[2018-01-16 14:37] mweststrate commented on #66
Closing for now until reproduced.

For now it seems, given the description, that this is case of accidentally modifying the current state, which is exactly the thing freezing tries to detect and protect from.

[2018-01-16 18:18] styfle opened #67 "Change source code to TypeScript"
I noticed you have the typescript devDependency but the [source code](https://github.com/mweststrate/immer/blob/master/src/index.js) is written in JS.
Any reason why you didn't write it in TS?

[2018-01-16 18:22] mweststrate commented on #67
None other than that it started out really tiny and I initially only
targeted recent Node versions

Op di 16 jan. 2018 om 19:18 schreef Steven <notifications@github.com>:

[2018-01-16 18:35] styfle commented on #67
Ok maybe if I have time, I'll write a PR to convert to TypeScript 😃

[2018-01-16 18:37] mweststrate commented on #67
Such change is welcome, but ping me beforehand (or wait a few days). I am
currently shoving a lot of code around to improve code reuse / build

Op di 16 jan. 2018 om 19:35 schreef Steven <notifications@github.com>:

[2018-01-16 19:53] mweststrate commented on #66
Reopened: This issue seems to occur when adding already immutable data to the tree. Will fix

[2018-01-16 20:24] mweststrate commented on #66
@web2wire version 0.8.1 might fix this, could you verify?

[2018-01-16 20:25] web2wire commented on #66
Ah. good, at least in that I'm not imagining things. I am having trouble reproducing it in a sandbox, though I am gradually bringing it up to the complexity of  my app itself.

[2018-01-16 20:26] web2wire commented on #66
Crossed over post. Yep, I'll check it shortly.

[2018-01-16 20:27] mweststrate commented on #66
Yeah, not sure if it is the same issue (hard to deduct that from your description), but at least the symptoms are the same :)

[2018-01-16 20:31] mweststrate commented on #58
Released as 0.8.0. Thanks @arthurdenner!

[2018-01-16 20:31] #58 closed

[2018-01-16 20:32] mweststrate commented on #46
Reopened for now, not entirely sure #64 addresses it, and implementation doesn't take it into account yet at least

[2018-01-16 20:48] arthurdenner commented on #58
Thanks for the opportunity to contribute and learn something new. :)

[2018-01-16 21:13] arthurdenner commented on #46
I'm not sure if I understood correctly what is this issue about, but (if I did) my suggestion would be to use [this plugin](https://github.com/rollup/rollup-plugin-replace). It needs to go in the plugins list as something like this in `rollup.config.js`:

[code]
and in `common.js` you do something like this:
[code]

I took a look at the mobx-state-tree repo and they do [this](https://github.com/mo

[2018-01-16 21:14] web2wire commented on #66
Looks good so far, no crashes yet, and it's normally immediate. Thanks for addressing this so quickly.

I hope you don't mind if I ask you a quick related question here, rather than raise a new issue, though please feel free to delete or move as appropriate.

Should you be able to mutate an array or object member of a 'produce'd object? This is the sandbox I was working on (https://codesandbox.io/

[2018-01-16 21:30] mweststrate commented on #46
Honestly I don't know myself exactly 😊. But the goal is that autofreeze is
by default enabled, unless the hosting app is bundling a production build.

Op di 16 jan. 2018 22:13 schreef Arthur Denner <notifications@github.com>:

[2018-01-17 05:48] kelvcutler commented on #26
I am doing a project in react native (android first). It’ll be a decently small app, so I decided on doing raw react — no redux or mobx. But when I saw this library, I saw its potential for making things that much cleaner in my code — made me happy!

I swapped in the produce function in place of some manual cloning and merging and it did clean things up :D. However, I went to run it and doing “imp

[2018-01-17 09:19] diegochavez commented on #41
Hi Michel! I love this project, Mobx is also one of my favs! I did something simple yesterday night, let me know what do you think :)

![immer-logo](https://user-images.githubusercontent.com/35136/35034714-605e5c9a-fb6f-11e7-9de2-69d17505d388.png)

[2018-01-17 09:21] mweststrate commented on #26
Which version are you using? The latest one (0.8.1) should have Symbol
polyfilled

Op wo 17 jan. 2018 om 06:48 schreef kelvcutler <notifications@github.com>:

[2018-01-17 19:40] JLarky opened #72 "index.d.ts or immer.d.ts are not present in npm module for version 0.8.1"
[code]

it worked fine with 0.6 or 0.7

[2018-01-17 19:42] sebasgarcep commented on #67
Seeing as how TS is oriented towards OO code and Flow towards FP code, wouldn't it make more sense to add Flow typings instead?

[2018-01-17 20:01] styfle commented on #67
What makes you say that? TypeScript works great for FP code and I haven't run into anything it couldn't do.

[2018-01-17 20:01] mweststrate commented on #67
That sounds like a weird distinction to make between the two. But yes there
is an open issue to add flow typings, just didn't get to that yet :)

Op wo 17 jan. 2018 om 20:42 schreef Sebastian Garrido <
notifications@github.com>:

[2018-01-17 20:05] mweststrate commented on #72
Thanks for reporting! Should be fixed in 0.8.2

[2018-01-17 20:05] #72 closed

[2018-01-17 21:35] Gregjarvez commented on #46
@mweststrate Hi. been gone for a while.
here is my take on this.I pretty much used `process.env.NODE_ENV` but I used the fact that the code is minified as a fallback to when process.env.NODE_ENV is undefined . I mean undefined sure is a falsy value too. Probably unnecessary but i thought it would be useful for cdn users and stuff

[code]

[2018-01-18 03:06] sebasgarcep commented on #67
@styfle I don't doubt TS capabilities, I've used it before and it is great, but Flow brings a different set of guarantees and capabilities. I just thought the author might want to check it out before deciding on which option suits this project better.

[2018-01-18 06:42] mweststrate commented on #66
After putting this on paper, it made less sense then before :-P. Next version will automatically freeze newly added, non-proxied data as well

[2018-01-18 10:05] web2wire commented on #66
Thanks for the answers. I look forward to the continued development of immer, it's a great little package!

[2018-01-18 15:06] sharmad-nachnolkar opened #74 "Support with redux-actions handleActions({})"
@mweststrate - Can I use produce on my reducer with redux-action's handleActions(Object) method?

eg -
[code]

[2018-01-18 15:18] mweststrate commented on #74
Try it?

Op do 18 jan. 2018 16:06 schreef sharmad-nachnolkar <
notifications@github.com>:

[2018-01-18 17:32] sharmad-nachnolkar commented on #74
Tried but doesn't seem to work. Will try to dig more into the issue.

[2018-01-19 10:59] anish000kumar opened #75 "Cannot find variable Symbol in react native"
I have been using immer with react-native , it runs fine on ios but on android it throws error 'Cannot find variable Symbol in react native'.

[2018-01-19 11:08] Sigmus commented on #75
A polyfill may help: https://github.com/medikoo/es6-symbol

[2018-01-19 11:56] mweststrate commented on #75
Should be fixed in 0.8.3, could you verify, @anish000kumar ?

[2018-01-19 11:56] #75 closed

[2018-01-19 13:51] anish000kumar commented on #75
@mweststrate  works like charm! thanks!

[2018-01-19 18:46] anish000kumar opened #77 "Undefined is not a function"
![image](https://user-images.githubusercontent.com/9535166/35165913-0bec8822-fd76-11e7-9b55-f1394238ad33.png)

Getting this issue in a react-native project on android only. on iOS the app runs fine
immer@0.8.3

[2018-01-19 18:54] mweststrate commented on #74
I skimmed the `handleActions` docs quickly, but from that I guess (!) there are 2 problems with your approach:

1. handleAction requires two params
2. handleActions creates a reducers, while your `reducer` const _is_ a reducer. So you now have written a reducer, that, when called, just creates a new reducers, but it never invokes it or does anything with it. It's like creating a function but never

[2018-01-19 18:59] mweststrate commented on #77
Argh yes, RN on android polyfills nothing. As quick fix: make sure you polyfill Object.is, will probably include a polyfill in the package soon

[2018-01-19 19:18] mweststrate commented on #77
Added polyfill in the package, should be fixed by 0.8.4. Please reopen if this isn't the case. I think everything the package uses is now polyfilled on old javascript engines

[2018-01-19 19:18] #77 closed

[2018-01-19 19:57] anish000kumar commented on #77
@mweststrate thanks! Everything works well now, on ios as well as android!

[2018-01-24 07:56] #46 closed

[2018-01-24 07:57] mweststrate commented on #74
Closing as question seems answered

[2018-01-24 07:57] #74 closed

[2018-01-24 07:58] mweststrate commented on #67
Ok, the code base should be pretty stable now. PR is welcome

[2018-01-24 07:58] mweststrate commented on #41
Thanks and looks neat! Will wait a while to see if more contenders show up :)

[2018-01-24 07:59] mweststrate commented on #34
Fixed by 0.8.4

[2018-01-24 07:59] #34 closed

[2018-01-24 08:01] mweststrate commented on #29
Thought about that, but it is not that simple; in an immutable data model references are not stable, so you cannot hold on to references to an object somewhere in the state tree. Which is a property of mutability that MobX leverages a lot (it allows for child components in React to render independently of their parent for rexample)

[2018-01-24 08:01] #29 closed

[2018-01-24 21:12] szhangpitt opened #80 "flow error "unexpected token <" ?"
Hi, I have flow 0.63.1 and while checking, I encountered this error

[code]

Do you know what might be the cause? Thanks!

[2018-01-26 03:27] CMCDragonkai opened #83 "Garbage collection of shadowed objects in immer arrays"
I was investigating a solution for structural sharing of immutable JS arrays. The problem I had is that once I immutably mutate the array, it should give me a new array reference. If that old array reference still exists somewhere all the old data should still persist. However if that old array reference is dropped, then all the objects in that array that has been shadowed by the new array referen

[2018-01-26 03:35] CMCDragonkai commented on #83
I should clarify why I mentioned sparse arrays. I was thinking of using that to avoid having to copy the array entirely each time there's a mutation. But it seems this solution is using proxies instead.

[2018-01-26 07:33] mweststrate commented on #83
I don't get the question. What you describe is exactly what the JS garbage
collector already does. I'm not sure what weak references add to that

Op vr 26 jan. 2018 04:35 schreef Roger Qiu <notifications@github.com>:

[2018-01-28 17:16] anish000kumar opened #84 "Issue while trying to use map, filter , find etc"
I am trying out immer for a simple todos app. I have a simple reducer function like this -

[code]

`actionList` is an object which functions as a clutter free version of typical reducer (using the above function in the hindsight):

[code]

`state` object goes like this:

[code]

The issue is I am unable to get `TOGGLE_TODO` to work using this approach (or any approach). To put it simply, how may

[2018-01-28 19:57] zcei commented on #84
In the codesandbox snippet it looks like you're missing out an underscore in line 22. You have to mutate `_todo` in order to get the change recorded.

Also, because of direct mutation, one should use `forEach`, as you're not returning something, `draft` will only contain null elements, so you wouldn't be able to further modify them.

[2018-01-28 20:02] #84 closed

[2018-01-28 20:04] anish000kumar commented on #84
Got the issue resolved! @zcei  thanks!

[2018-01-29 23:14] marcins commented on #80
Just got this error as well, changing the declarations in `immer.js.flow` to have a function name "fixed" the problem, but I'm not sure of the root cause. That is, I just changed all the exports to:

[code]

[2018-01-30 08:25] #80 closed

[2018-02-01 08:27] iruca3 opened #86 "lodash.find breaks proxy?"
`immer` does not modify the draft value on using `lodash.find` on `1.0.0`.

The test code is below:
[code]

result:
[code]

for reproduce: https://github.com/iruca3/immer/tree/bug_with_lodash_find

It reproduces on `1.0.0`, but does not reproduce on `0.8.5`.
I tried to fix this, but I couldn't find out why this is caused.

[2018-02-01 09:27] mweststrate commented on #86
I tried with 0.8.5 but doesn't seem to work either. Can it be a difference in lodash version? the `find` gets me back a weird LodashWrapper object, and not the actual object from the draft

[2018-02-01 12:06] iruca3 commented on #86
I tried the repository below with `0.8.5`: https://github.com/iruca3/immer/tree/lodash_find_test_on_0.8.5
It passes all tests.

I reproduced on `lodash 4.17.4`. (`lodash.find` is `4.6.0`)
also reproduced on using `lodash.findIndex`.

BTW, this code passes the test.
[code]

I hope this will help.

[2018-02-01 12:44] mweststrate commented on #80
Fix has been released in 1.0.0

Op di 30 jan. 2018 om 00:14 schreef Marcin Szczepanski <
notifications@github.com>:

[2018-02-01 22:42] Sventenhaaf commented on #41
In my humble opinion the infinity sign is just a must with this name... Thanks @diegochavez !

![immerlogo](https://user-images.githubusercontent.com/8081258/35707192-18098be0-07a9-11e8-9600-bdac848e9985.gif)

[2018-02-01 22:51] Sventenhaaf commented on #41
In my humble opinion the infinity sign is a must with a name like Immer... Thanks @diegochavez!

I made a little tool in which people can adjust the colors and properties of the logo. I'm not a designer so I hope other people can jump in and pick the right colors, stroke thicknesses and all that...

![immerlogo](https://user-images.githubusercontent.com/8081258/35707322-9473a2a6-07a9-11e8-96bd-f24

[2018-02-02 01:24] iruca3 commented on #86
I found that lodash is not related on this issue.
The test case below also failed. Hmmm....
[code]

[2018-02-02 06:01] CMCDragonkai commented on #83
I found a blog talking about a fully persistent array with proper structure sharing (instead of copying the entire array each time): http://www.toves.org/books/persist/index.html#s4

However it probably won't gel with your library here since you're focusing on working against primitive JS data structures.

[2018-02-02 15:49] pbomb opened #89 "Modifying draft by spreading property in draft state not working in 1.0.0"
I just upgraded from 0.8.5 to 1.0.0 and am seeing a regression. I'm updating an object within the `produce` function by overwriting a property on that object which is itself an object. When I spread the nested object in the draft object at that same property, immer does not seem to make the changes. If the property didn't exist before, it continues to not exist. If the property does exist, the cha

[2018-02-02 21:59] mweststrate commented on #89
Thanks for reporting, will investigate!

[2018-02-02 22:06] #86 closed

[2018-02-02 22:08] mweststrate commented on #89
Should be fixed in 1.0.1. Same issue as found and fixed by @iruca3  through #86. Just released. Feel free to reopen if it isn't

[2018-02-02 22:08] #89 closed

[2018-02-04 01:16] pbomb commented on #89
Thanks for the quick turnaround. I was able to verify that the new version does resolve this issue.

[2018-02-05 12:04] fuhaiwei opened #91 "react compiled with warnings: Expected a default case default-case"
immer is a very good library, but when combined with the `create-react-app`, it warning: `Expected a default case default-case`, is there a good solution? Of course, if you add a blank default-case can solve this problem.
[code]

[2018-02-05 12:12] mweststrate commented on #91
Nope, (I think it is a stupid rule in the first place :). Static type
checkers can perfectly assert whether a default cause can happen or not.)

Op ma 5 feb. 2018 om 13:04 schreef fuhaiwei <notifications@github.com>:

[2018-02-05 12:19] #91 closed

[2018-02-07 01:06] james-srl opened #92 "Works fine in react-native with iOS, but fails to work with Android"
I get the following error whenever I try to use Immer in react-native on Android:

undefined is not a function (evaluating 'Object.is(maybeVoidReturn, undefined)')

the error happens in es5.js line 237

Any insight into this issue would be greatly appreciated!

[2018-02-07 01:27] benbraou commented on #92
@james-srl this seems to be a dup of https://github.com/mweststrate/immer/issues/77 .
Please update to the latest version of `immer`. I guess you are using a version `<=0.8.3`
Please feel free to reopen an issue if you still reproduce with the latest version.

[2018-02-07 01:28] #92 closed

[2018-02-07 04:05] james-srl commented on #92
You were right! I should have dug more into the issues before posting this. Thank you! Immer is awesome.

[2018-02-07 08:05] mweststrate commented on #92
In any case always make sure to only report issues based on the latest
version of a package ;-)

Op wo 7 feb. 2018 om 05:05 schreef James <notifications@github.com>:

[2018-02-08 05:00] leiserfg opened #93 ""cpx" and "flow-bin" are not imported"
I think they are just devDependencies.

[2018-02-10 08:46] yuanalexwu opened #94 "Using Destructuring failure"
[code]

the newState doesn't change

[2018-02-10 11:55] mweststrate commented on #94
The problem is that you are reassigning draft, which doesn't modify the
original draft but just creates a local variable which is further not used
anywhere. You can use Object.assign(draft, updateData) though

Op za 10 feb. 2018 09:46 schreef sam <notifications@github.com>:

[2018-02-11 08:59] yuanalexwu commented on #94
Thx for ur reply
I just a little bit lazy, normally we should update like below:
[code]
The line I marked update a single property. What if I got many properties to be updated
It must be assigned one by one

[2018-02-11 23:58] benbraou commented on #94
@yuanalexwu you can use [Object.assign](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign) as suggested by @mweststrate
`Object.assign(draft, updateData)` will mutate `draft` by copying the enumerable properties from `updateData`.
Checkout this example:
[code]
The following will be logged into console:
[code]
Also, please note that`draft` is a proxy on

[2018-02-11 23:59] #94 closed

[2018-02-13 14:59] Gregjarvez commented on #67
@mweststrate I am fairly new to typescript but I think this would an opportunity to get my hands dirty. with assistance, I would like to take this on?

[2018-02-13 15:31] mweststrate commented on #93
Fixed and released as 1.0.2. Thanks for noticing!

[2018-02-13 15:31] #93 closed

[2018-02-13 15:48] mweststrate commented on #67
@Gregjarvez sure, feel free to submit a PR :)

[2018-02-14 14:52] jkordas opened #95 "Wrong expression to detect production mode"
In expression:

`const inProduction = (typeof process !== "undefined" && process.env.NODE_ENV === "production") ||
        verifyMinified.name === "verifyMinified"`

Second condition:

`verifyMinified.name === "verifyMinified"`

is inappropriate.

It should probably be `verifyMinified.name !== "verifyMinified"` if I understand correctly ('===' changed to '!==').

[2018-02-14 18:38] dubiousandrew opened #96 "unexpected result with typescript class"
When I try to modify a property of a typescript class, the producer modifies the state but doesn't return a new state.

Here is a simple typescript example:
[code]

is there any chance that this will be addressed?  I think perhaps there should at least be a more explicit warning to not do this in the readme.

[2018-02-15 09:40] mweststrate commented on #96
See https://github.com/mweststrate/immer#pitfalls. Because there is now generic `clone` mechanism for arbitrarily complex types, immer cannot produce a new state for you from your class without opening a potential can of worms.

[2018-02-15 09:40] #96 closed

[2018-02-15 09:41] mweststrate commented on #96
If you did read that, but if it wasn't clear, feel free to PR improvements on the docs :)

[2018-02-15 09:45] #95 closed

[2018-02-15 09:45] mweststrate commented on #95
Fixed in 1.0.3. Thanks for noticing!

[2018-02-15 11:23] olavim opened #97 "[TypeScript] Produced draft is read-only if original state is read-only"
The `draft` returned by the `produce` function's callback should make a mutable clone from the original state. Currently immutability is retained:

[code]

[2018-02-15 12:40] tilastokeskus commented on #97
I submitted a PR to fix this.

As a quick solution until this is fixed in a release:

[code]

[2018-02-17 18:19] plkuzmich commented on #26
Hello! Thanks for immer, it has been a time- and headache-saver so far.

Ive been using produce for deleting stuff, mostly. I'd like to learn on how to properly use it for adding/substracting stuff too, however. What I'm struggling with is checking whether the key exists without piling colossal amounts of code that I'm used to with normal object spreads.
For example, if I have...

[code]

...and I

[2018-02-18 12:45] jarvisluong commented on #26
Your library is really a headache-solver for immutability!!!
Thanks alot!!!

[2018-02-18 18:59] kachkaev opened #100 "Problem with recursive use"
I'm trying to call `produce` recursively to process a data tree, but am getting this exception in some cases:

[code]

My guess is that `immer` unintentionally leaves some of the proxies behind and this is why the exception is triggered later in the code.

Here's the original (broken) code, the goal of which is to replace all occurrences of `Date` or [`moment`](https://momentjs.com/) leafs into st

[2018-02-19 02:52] bibekg opened #101 "Refinement invalidation with Flow"
It seems like Immer and Flow won't work together due to [refinement invalidations](https://flow.org/en/docs/lang/refinements/#refinement-invalidations). My reducer's `action` parameter can have a payload that is either a custom object or a `string`. Before adding Immer, Flow would correctly infer the type of `action.payload` from the `if (action.type === SO_AND_SO)` that its usage was wrapped in.

[2018-02-19 08:08] mweststrate commented on #26
@plkuzmich I see your problem, but it is not one that this package tries to solve. There are packages that solve the auto-object creation (can't recall a name though), or you could even write it yourself with proxies, for example: http://slides.com/elektronik/metaprogramming-via-es2015-proxies#/15. However, the problem is not in scope of this package. (And also unsolvable without proxies)

[2018-02-19 09:01] bibekg opened #102 "Can't initialize reducer with null default state"
I'm trying to set up a reducer to use Immer but keep running into an issue with using a null default state value. When I try loading up the app in browser, I get the following console error:
[code]
I tried following the code a bit and saw that it's resulting in `isProxyable` returning false on the Redux init process that calls all reducers with `reducer(undefined, "@@redux/INIT")`. My reducer code

[2018-02-19 09:07] mweststrate commented on #102
Reassigning to `draft = action.payload` is not allowed (it only re-defines the argument name you pass in, but doesn't actually change the draft!).  In your case `action.type === GET_USER_SUCCESS` should be handled outside a producer (so that you can return `action.payload` from the reducer).

Probably we should add a feature allowing returning values from producers :)

[2018-02-19 09:08] mweststrate opened #103 "Allow returning values from producers"
Producer could return a value *or* modify a draft. Verify both is never done at the same time. Returning a value can be very useful for default values etc. See several other issues that try to redefine the `draft` object, like #102

[2018-02-19 23:23] bibekg commented on #102
Good catch. That doesn't seem to solve the original issue though. The action type that's failing is Redux's initializer, `@@redux/INIT`, which passes `undefined` as the state.

[2018-02-20 07:00] mweststrate commented on #102
You should get a clean error about what is wrong with that, did you get an
error?

Op di 20 feb. 2018 00:23 schreef Bibek Ghimire <notifications@github.com>:

[2018-02-20 18:05] bibekg commented on #102
Yeah, I wrote the error that I got in the original comment. It's
[code]

[2018-02-20 18:13] bibekg commented on #102
Update: I fixed my problem by wrapping the call to `produce()` in a reducer that ensures that it never passes a `null` or `undefined` as the `state` parameter to `produce()`.

[code]

[2018-02-20 18:39] mweststrate commented on #102
That is the correct fix indeed. But your question inspired me to make this
actually possible in immer OOTB. See the latest commits on master, in the
future you can it without this :)

Op di 20 feb. 2018 om 19:13 schreef Bibek Ghimire <notifications@github.com

[2018-02-20 19:25] mweststrate commented on #103
Will be released as 1.1

[2018-02-20 19:25] #103 closed

[2018-02-20 19:26] #102 closed

[2018-02-20 19:32] mweststrate commented on #101
Please note that `#1` is an error, you just declare the draft variable, which is a just noop and will just return your old state. (In the upcoming 1.1 version we will allow to do `return payload` though to entirely replace the draft). Also, `payload` seems to be completely undefined.

Whether `#2` is valid or ont I can't say anything about without knowing `UserStateType`, dont really see how `imme

[2018-02-20 19:56] mweststrate commented on #100
I'm not sure this problem is solvable without introducing confusion somewhere else. But if you could create a PR with some unit tests for this problem, that would be a start. We could for example opt to automatically finalize proxies that are passed as state to a producer. (after all, that instance shouldn't be edited anymore _after_ passing it to a producer since you already produce a new state f

[2018-02-21 08:24] klimashkin opened #105 "Specify initial value of reducer"
Hello!

Sorry if it's been discussed or documented, but I could not find solution.
How to specify initial value of reducer in case of currying?

If on first `@@redux/INIT` run I don't do anything with draft, redux complains about `returned undefined during initialization. If the state passed to the reducer is undefined, you must explicitly return the initial state..` But if I do
[code]
redux throw

[2018-02-21 08:26] mweststrate commented on #105
Hi Paul, could you set up a minimal reproduction in a codesandbox?

Op wo 21 feb. 2018 om 09:24 schreef Paul Klimashkin <
notifications@github.com>:

[2018-02-21 20:44] klimashkin commented on #105
Created simple pen where returning from currying doesn't work:
https://codepen.io/klimashkin/pen/aqGgor?editors=0010

I found in the doc:

Seems like the only way is to pass initial value on store startup, but it's not convenient in redux world.
What if initial value could be passed as second parameter to curry function like for `array.reduce`?
Like
[code]

[2018-02-22 10:08] mweststrate commented on #105
@klimashkin apologies, this was a bug in the currying! Should be fixed in 1.1.1

[2018-02-22 10:08] #105 closed

[2018-02-22 10:10] mweststrate commented on #105
See: https://codesandbox.io/s/j4m8q25363

[2018-02-22 10:11] mweststrate opened #107 "TypeScript / flow types don't support values from reducers yet"

[2018-02-22 14:13] graphaty opened #108 "Async/Await support"
Would it be possible to add async/await support in the producers? I'm creating a little state management library for personal use with the new context API and would like to bake in immer for immutable mutations.
I think the following typescript snippet demonstrates my use-case well:

[code]

Currently the library throws: `TypeError: Cannot perform 'get' on a proxy that has been revoked`

Here is a

[2018-02-22 14:20] mweststrate commented on #108
No, supporting async / await would break the mental model, as that means that multiple producer calls could interleave with each other and it becomes impossible to reason about what happens. For example what happens if one producer didn't see the state produced by another one because it didn't finalize the proxies yet? Then you would suddenly loose state...

Just use produce (or curried producers)

[2018-02-22 14:20] #108 closed

[2018-02-22 17:49] ogwh commented on #107
For Typescript this is fixed by https://github.com/mweststrate/immer/pull/109

I don't know/use flow so I haven't fixed anything there.

[2018-02-22 17:50] ogwh commented on #97
This is fixed by https://github.com/mweststrate/immer/pull/109

[2018-02-22 18:20] diegochavez commented on #41
@mweststrate Awesome! I'll add some style to match mobx-state-tree logo like you suggest. 👍

[2018-02-22 18:23] klimashkin commented on #105
Thanks @mweststrate!

What do you think about setting default value as a second parameter of curried `produce`?

[2018-02-23 13:17] nicknikolov opened #110 "Is it possible to check which properties were update"
Hello, thanks making this.

This is not so much an issue as a question.

Since I saw `immer` uses structural sharing, is there some clever way to use it and check which properties of my state have changed after producing a new instance?

Thank you

[2018-02-23 13:46] mweststrate commented on #110
Probably missing the point of the question; but any property that is
strictly equal to the previous property you had didn't change.

Op vr 23 feb. 2018 om 14:17 schreef Nick Nikolov <notifications@github.com>:

[2018-02-23 13:59] mweststrate commented on #105
@klimashkin could you open a separate issue for that?

[2018-02-23 14:13] nicknikolov commented on #110
Yes, my question was more about to see if I am missing something or I just need to iterate my properties (I was worried could be tricky for nested objects) and use strict equal check.

I'm gonna close as this is probably what I'm looking for.

[2018-02-23 14:13] #110 closed

[2018-02-23 14:32] mweststrate commented on #110
If you want to compute diffs, there are most probably packages around that
can do that :)

Op vr 23 feb. 2018 om 15:21 schreef Nick Nikolov <notifications@github.com>:

[2018-02-23 20:06] klimashkin opened #111 "Pass default value as second parameter for curried producer"
In redux all reducers should have default value, since redux tree is bootstrapped with `@@redix/INIT` action.

To workaround that, using curried producer as reducer, we have to write condition to check for undefined value of the draft. And we can't use argument's default value `(draft = {count: 0}, action)`, because in this case we don't know if we should return it or able to mutate proxy.
[code]

[2018-02-27 21:50] christiangenco commented on #111
I think the solution here is to use ES6 default function parameters:

[code]

[2018-02-27 22:56] klimashkin commented on #111
@christiangenco Right, it works in case of creating `producer` on each reducer call (which seems like overhead), but in case of curried function you can't do it in short way, so this issue propose solution for that.

If draft could be returned from producer filled with default value `(draft = {count: 0}, action)` issue would be solved indeed.
But for me it doesn't seem best approach, because in th

[2018-03-01 23:11] christiangenco commented on #111
@klimashkin Oh dude [you can totally just return the draft](https://github.com/mweststrate/immer#returning-data-from-producers):

I think then the best pattern becomes:

[code]

[2018-03-01 23:49] pkerschbaum commented on #111
@christiangenco
I also think that your proposed solution is currently the best pattern, but I would like to add a subtle modification:

Because of #103 the following aspect was added to immer:

The return statement
[code]
...does not only modify the draft, but also return the result of the operation, and therefore would throw an error.

So the best current pattern would be:
[code]

[2018-03-02 00:03] pkerschbaum commented on #111
Ah damn it, now there is a problem with fall-through :sweat_smile:.

So maybe something like this:
[code]

[2018-03-02 00:16] klimashkin commented on #111
Right, I tried to point out that you need to know type of draft if it's proxy or pure object to decide what to do - return it or just mutate.

If make default value as a second parameter to producer, we enforce proxy type and stop warring about different type.
So we can write just
[code]

[2018-03-02 04:15] christiangenco opened #115 "Include common add, delete, and update patterns in README?"
I've spent so long thinking about immutable ways to update objects and arrays that I had trouble wrapping my head around using mutating methods again, as is needed with `immer`.

It would've helped me get started faster if simple "best practice" examples similar to these were included in the docs:

[code]

...though I'm not positive `draft.splice(draft.findIndex(todo => todo.id === "id1"), 1)` is

[2018-03-04 00:01] TrueWill commented on #100
I'm getting the same `TypeError: Cannot perform 'get' on a proxy that has been revoked`, but I'm not doing recursive calls to `produce`. I was trying to convert [this reducer](https://github.com/TrueWill/embracer/blob/immer/src/reducers/skillsReducer.js) to immer. If `draft` was passed to `setDotsFromStartingDots`, I'd get the error when running the tests. If `state` was passed, it worked. Is this

[2018-03-05 15:22] koba04 opened #116 "Imcompatible case with ES5 implementation"
`immer` says the ES5 implementation is compatible with the implementation using Proxy.
But the following test fails when I use ES5 implementation.

[code]

Is this an expected behavior?

[2018-03-05 16:13] mweststrate commented on #116
Nope. reproduction: https://codesandbox.io/s/vmxmn8omwl

[2018-03-06 00:42] TrueWill opened #117 "Cannot perform get on revoked proxy error when no recursion"
Similar to https://github.com/mweststrate/immer/issues/100, I'm getting
`TypeError: Cannot perform 'get' on a proxy that has been revoked`
from a test after converting a reducer to immer.

I narrowed the code down from the [original](https://github.com/TrueWill/embracer/blob/immer/src/reducers/skillsReducer.js) to a minimal example, which is why it looks odd.

[code]

The above reducer will raise

[2018-03-06 09:22] mweststrate commented on #117
@TrueWill I fixed the issue that the result set was not properly finalized. However, I am pretty sure that this reducer is not doing what you intend it to do; you return a sub part of the original state, effectively changing its shape.

Your reducer now transforms the state:

[code]

into

[code]

What you probably want is:
[code]

[2018-03-06 09:46] mweststrate commented on #115
Note that `return draft.filter(todo => todo.id !== "id1")` will work as well :) The `findIndex` will be more efficient though. But for efficiency reasons, I generally recommend not to store id-ed objects in an array in the first place. Will copy the section to the readme

[2018-03-06 09:50] #116 closed

[2018-03-06 09:50] #117 closed

[2018-03-06 10:14] mweststrate commented on #115
Added, closing

[2018-03-06 10:15] mweststrate commented on #116
Released as 1.1.3. Thanks for reporting!

[2018-03-06 10:15] mweststrate commented on #117
Released as 1.1.3. Thanks for reporting!

[2018-03-06 10:15] mweststrate commented on #100
The issue *might* have been fixed by 1.1.3. Since this issue lacks a reproduction, now way to tell. Closing for now. Feel free to re-open with a reproduction if the issue isn't solved.

[2018-03-06 10:19] mweststrate commented on #111
I think @klimashkin proposed pattern is a good idea. Anybody willing to create a PR?

Preferably update the TS / FLow types as well :)

Also, make sure in the readme that the difference between `produce(fn, initialState)` and `produce(initialState, fn)` is very clear!

[2018-03-06 10:20] mweststrate commented on #107
Closing the issue (not PR!) as this is effectively a duplicate of #97

[2018-03-06 10:20] #107 closed

[2018-03-06 10:22] kachkaev commented on #100
Thank you @mweststrate! I'll report back once I have a look

[2018-03-06 10:31] kachkaev commented on #100
Unfortunately, the bug appears to be still there. I'll try to submit a reproduction, but this is unlikely to happen before a weekend that is 10 days from now. If anyone is fancy to build up a reproduction out of my code above, feel free! It should be sufficient.

[2018-03-06 11:12] koba04 commented on #116
Thanks! 👏

[2018-03-06 12:55] TrueWill commented on #117
@mweststrate Yep - I changed the shape to keep the example as simple as possible. The original code preserves shape. Thank you! 😃

[2018-03-06 18:55] pkerschbaum commented on #111
@mweststrate
I would really like to implement that enhancement and create an PR!

Only thing I don't know yet is how we can differentiate the two ```produce``` function calls, because if a function is used for the state argument, ```produce(baseState, fn)``` and ```produce(fn, initialState)``` cannot be distinguished, neither by count of arguments nor by the types of the passed arguments.

Or do I

[2018-03-06 19:42] mweststrate commented on #111
Immer only works with a base state that is either an array or an object, so
throwing on a base state that is a function (or a primitive) is perfectly
fine imho

Op di 6 mrt. 2018 om 19:57 schreef P Kerschbaum <notifications@github.com>:

[2018-03-07 02:07] TrueWill commented on #117
Just tested it - works fine! Great job!

[2018-03-07 15:02] kachkaev commented on #100
@mweststrate I was able to reproduce the bug in https://github.com/mweststrate/immer/issues/118, feel free to have a look

[2018-03-07 17:47] bugzpodder opened #119 "Add immer to flow-typed definitions"
Currently I ignore everything in node_modules/.* in my flowconfig, and relies on flow-typed for my library definitions.  Unfortunately it means the .flow file distributed from immer is ignored.

I tried copy the immer.js.flow file directly to my flow-typed directory but it did not work as expected, will need to play around a bit more.  https://github.com/flowtype/flow-typed/

[2018-03-10 10:09] awto opened #120 "Interface for other types using local Symbol"
* [x] Feature request: Export some local symbol, and during creating a proxy check if the value implements it.
  * [x] I am willing to implement this myself

For example:

[code]

Here `[proxySymbol]()` returns value with all the functions of original value. Not pure ones may be overridden to work on some copy, for example. And `[commitSymbol]()` returns a clone of the original object with all the

[2018-03-12 03:36] christiangenco commented on #111
I took another approach to solving this for myself: [a helper function for making redux reducers and actions](https://github.com/christiangenco/createReducerActions).

It uses immer under the hood, and lets you do things like this:

[code]

`actions. setLargePhotoUrl` is an action creator, and `reducer` is an immutable reducer, so you can do:

[code]

[2018-03-13 22:07] diegochavez commented on #41
![logo immer](https://user-images.githubusercontent.com/35136/37372383-d3400bea-2712-11e8-854f-b597c564c857.jpg)
@mweststrate hey time ago I've been quite busy but I get some time this week 👍 .

Take a look this simpler version
![logo immer - alt](https://user-images.githubusercontent.com/35136/37372524-4b986a38-2713-11e8-8bb3-5a1f51547581.jpg)

[2018-03-16 15:37] nickmccurdy commented on #53
I think I found a regression in 1.1.1, but it's working again in 1.1.3.

[2018-03-17 13:55] #111 closed

[2018-03-17 14:26] mweststrate commented on #120
I'm not 100% sure yet whether this would out, but if you would like to work out a PoC PR demonstrating this approach for Date and Map objects that would be great!

[2018-03-17 14:28] mweststrate commented on #119
I think you should fix your project setup. relying on the typings as provided by the library is *much* more reliable compared to fetching them from flow-typed.

[2018-03-17 14:28] #119 closed

[2018-03-17 22:29] bugzpodder commented on #119
Its fine if immer won't support flow-typed definitions.  I've made the project setup decisions on purpose and there are definitely real reasons to ignore node_modules (which I won't get into here).  Anyhow using flow-typed lib defs came from an endorsement in the official flow documentation: https://flow.org/en/docs/libdefs/.

[2018-03-18 01:00] athomann commented on #26
@13806 I was looking for something similar and ended up using lodash `set` function.

[2018-03-18 04:26] pqkluan commented on #67
JS support both OOP and FP. Why we have to focus on single perspective to decide the support the static types checker?

[Here is the comparison between Typescript and Flow](https://github.com/niieani/typescript-vs-flowtype).

IMHO, Typescript is more stable in term of performance (my experience with IntelliSense on vs-code), better syntax, and supported by many large projects. Plus, we could suppo

[2018-03-20 21:45] urish commented on #67
@mweststrate do you know if anybody is working on this?

If not, please leave a comment at urish/typewiz#35 and I'd love to do this for you.

[2018-03-22 08:04] mweststrate commented on #67
@urish PR welcome (doesn't seem anybody is working on it) :)

[2018-03-22 08:29] mweststrate commented on #100
Thanks for the clear test PR @kachkaev!

I investigated a bit and the problem it exposes is that there are no clear semantics when passing a _draft_ to another producers. For example:

[code]

The question is, what is the nature `draft[i]` after line X?
1. according to `textUpperCase` draft[i] is now frozen / finalized state, and wont be modified anymore. After all, it produced immutable state
2.

[2018-03-22 08:30] urish commented on #67
@mweststrate excellent, I saw your comment. I will be working on the PR tomorrow. Fun ahead!

[2018-03-23 22:45] urish commented on #67
See #128 - basically, all the TS setup is there (code is TS, builds and tests pass), though I haven't added any new type annotations yet (except for few fixes to make the code compile).

[2018-03-24 17:09] RikuVan opened #129 "Typescript error with producer in latest version: 'expected one arguments, but got two'"
* [x ] Issue:
I use produce for a reducer like this
[code]
 While this still works fine it now raises a Typescript error in the new (1.2) version: 'expected 1 arguments, but got two.'
I looked at the typings and I don't grasp why they don't work as they seem to have an overload for this.
I will try to produce a codepen of the issue in the next day or two.

[2018-03-24 19:34] RikuVan commented on #129
example of typescript error: https://codesandbox.io/s/4047no7q77?module=%2Fsrc%2Freducer.ts

[2018-03-25 02:07] rannuo opened #130 "in node require"
Please specify:
In node,
[code]
[code]

[2018-03-25 19:04] laurentvd commented on #130
Try `const produce = require('immer').default`

[2018-03-26 03:37] st-clair-clarke opened #132 "Peculiar behaviour of destructuring"
Hi,
I have the following:

      @Action( RsRosCoughUiUpdate )
      rsRosCoughUiUpdate( { getState, patchState }: StateContext<IRs>, payload: IFormState ) {
        console.log( `classToPlain(payload) | ${JSON.stringify( classToPlain(payload) ) }` )
        console.log('PAYLOAD', payload)
        console.log('PAYLOAD STATUS', payload.status)
        console.log('PAYLOAD STATUS', payload['status']

[2018-03-26 08:06] mweststrate commented on #132
@st-clair-clarke I am staring at your code for a while, but it is a bit unclear to me how this relates to immer, as immer isn't doing anything with the `payload` variable? I don't know what `draftState.ros.ui.cough` is, but note that immer does not operate on class instances. To further clarify your problem, please create a minimal, reproducible setup, like a code sandbox or something.

[2018-03-26 08:07] mweststrate commented on #130
Closing as question has been answered.

[2018-03-26 08:07] #130 closed

[2018-03-26 08:09] mweststrate commented on #129
As a work around: `produce<any, any>` will fix it, will see if we need some overload reordering to improve it

[2018-03-26 08:57] mweststrate commented on #129
Check, the inference of this producer has changed indeed, however, the current typings are better, as in the old setup even typed producers with arguments would always infer there arguments to `any`. So I'll keep the typings as is, as they, in general, infer better typings.

So for now, if TS cannot infer the amount and types of arguments of the producer function (like in this example), explicitly

[2018-03-26 08:57] #129 closed

[2018-03-26 12:38] RikuVan commented on #129
Thanks for you response. As you suggest, this does the job `produce<UserState, Actions>`

[2018-03-27 07:06] slashhuang opened #133 "is there a better way to handle `indexOf`"
* [ ] I am willing to implement this myself
* [x] Issue:  `indexOf` operator not work for proxy
  * Version: ^1.2.0

[code]
  * Expected behavior:  get the right index, which is 0
  * Observed behavior:  index producer -1
  * [x] Occurs when using Proxies (use `setUseProxies(true)`)

[check it in codesandbox](https://codesandbox.io/s/42k6knjv50)

[2018-03-27 07:11] slashhuang commented on #133
maybe not a problem, but I hope immer could have a way to get it right, so that in `draft => any` function, I do not have to touch rawState.

[2018-03-27 07:59] mweststrate commented on #133
I think this is a rabbit hole that will go really deep, and should rather
be fixed by improving the docs :)

Op di 27 mrt. 2018 om 09:11 schreef 黄晓刚 <notifications@github.com>:

[2018-03-28 03:47] dwighthouse commented on #41
@mweststrate  Some recommendations:

I would recommend against shadows/gradients/transparencies in logos. Good logo design seeks to make the logo recognizable even when only one, flat color is available, such as black-on-white themed icon sets. It should also work with two to six solid colors if it isn't designed to only have a single color variant. (and remember to check these with colorblind mod

[2018-04-04 07:36] alexcroox opened #134 "Object value loses key/value inside redux reducer"
* [x] Issue: Modifying array item doesn't product expected results
  * Version: ^1.2.1
  * _SIMPLE_ Reproduction:

[code]

  * Expected behavior: I expect my redux state for that array index to have `1835` for the `previouslyElapsed` key.

  * Observed behavior: Instead it removes the key entirely in my redux state, despite verifying it's correct value (through console.log) inside the function at

[2018-04-04 20:51] mweststrate commented on #134
Can you create a PR with a unit test showing the problem?

Op wo 4 apr. 2018 09:36 schreef Alex <notifications@github.com>:

[2018-04-05 07:54] celebro commented on #26
I found the use of Object.assign (https://github.com/mweststrate/immer/blob/v1.2.0/src/common.js#L60) a bit problematic. ES5 implementation is partly for IE, but Object.assign doesn't exist in IE either. It's an annoyance when used on a project with babel runtime instead of polyfill.

[2018-04-05 12:10] mweststrate commented on #26
@celebro good catch. Could you open a separate PR or issue for that?

[2018-04-06 01:46] scriby opened #136 "Would you consider not using a default export?"
The build environment at work doesn't play well with default exports. I'm wondering if you would consider exporting the produce function as a normal function and requiring calling code to use

import {produce} from 'immer';

Thanks for taking a look!

[2018-04-06 16:30] scriby commented on #136
Thanks for the suggestion!

It's not so much an issue of the import, but just that our build system completely forbids code to use default exports. It's one of those massive company things where you don't have much flexibility.

I don't think there's really anything intrinsically wrong with using a default export, but it does get a little stranger to use once the module also exports other things a

[2018-04-07 00:42] scriby opened #138 "Another benchmark"
I've been doing some experimenting with immer. I really like how much simpler it is to write reducers with it!

I was doing some benchmarking vs ImmutableJS and wanted to check if my results make sense.

The benchmark looks like this:

* Trigger a single action which is handled by one reducer
* The reducer produces a new state by appending the item's id to the end of an array and adding the item i

[2018-04-07 06:34] mweststrate commented on #138
Just checking: Did you test with useProxies true and autoFreeze false? Can
you make a PR out of this benchmark?

Op za 7 apr. 2018 02:42 schreef scriby <notifications@github.com>:

[2018-04-07 07:07] scriby commented on #138
Yeah freeze was off and proxies on. I’ll send a PR for the benchmark Monday. Thanks!

[2018-04-10 04:38] a-pavlov-parc opened #141 "produceProxy hides the errors"
Hi. Thank you for this great library.

  * [x] Issue: I have a small reducer. There I intentionally have a null reference error `employeeID: item.something.id`. I see the browser doesn't show there is anything wrong, but it doesn't work. After a small investigation, I found the reason of this behavior. The reason [is there is a `try, finally` construction](https://github.com/mweststrate/immer/blob

[2018-04-10 16:17] scriby commented on #138
PR is here: #140

[2018-04-17 11:12] AndreBastos23 opened #142 "The first argument of the produce function should be ...."
Hello,

I'm currently trying to refactor a bunch of our reducers using the immer package, but there is a specific reducer that gives this error when trying to call a action creator.

`ERROR Error: the first argument to an immer producer should be a primitive, plain object or array, got object: "[object Object]"`

The current reducer is this:

[code]

I have no idea what i'm doing wrong, since this

[2018-04-17 11:31] mweststrate commented on #142
sounds like your state might be a class instance?

Op di 17 apr. 2018 om 13:12 schreef AndreBastos23 <notifications@github.com

[2018-04-22 05:43] janryWang opened #143 "Need to support deep comparison."
Hello, I am very happy to see exciting projects like immer that help us to manipulate data more conveniently and safely. However, I found that the problem is that immersed in data manipulation only makes shallow comparisons. This can cause duplicate rendering problems in React rendering. So, can immer support depth comparison?

you can use this library.  https://github.com/FormidableLabs/react-fas

[2018-04-22 09:11] janryWang commented on #143
@mweststrate I hope this "is" function replace to deep equal function(https://github.com/FormidableLabs/react-fast-compare). https://github.com/mweststrate/immer/blob/master/src/proxy.js#L79

[2018-04-22 12:38] mweststrate commented on #143
In general there should not much need to do so when relying on immutability
in the first place. The whole idea is that you want to avoid deep equal
checks by using immutable, structurally shared data structures so that you
can rely on pointer equality. In the few cases where you can't do so, you
can do the deep equal check in userland code before making the assignment

Op zo 22 apr. 2018 om 11:11

[2018-04-22 13:47] #143 closed

[2018-04-27 08:40] cmmartin opened #146 "Support for Set and Map"
* [x] Feature request: Is it possible to support mutating the native `Set`, `Map`, `WeakMap`, etc?
  * [ ] I am willing to implement this myself

[2018-04-29 08:42] RikuVan commented on #146
I had a quick try at adding Set and Map for es6 environment. I don't completely get everything happening in immer, so I well may have missed some complexities. It at first glance it seems actually pretty easy to proxy these since all mutations happen through method calls:
[code]
I guess you don't need to recurse into the Map/Set values since they are all set through method calls?

[2018-04-29 08:44] RikuVan commented on #146
but it seems you can't freeze these, which means you have to do something kind of hacky there I guess:
[code]

[2018-04-30 03:03] alcovescape opened #147 "instead of return use a 2nd argument `replace` for replacing draft."
* [x] Feature request: 2nd argument for replacing draft instead of return.
  * [ ] I am willing to implement this myself

Now:
[code]

Desire:
[code]

Motivation:
1. It is an unintuitive behaviour return value imply replace in mutable context, in some cases it happens to randomly work.
2. A runtime check has to be made each time for return value, it is not necessary if the function length is exact

[2018-04-30 03:08] alcovescape commented on #133
Just use `state.indexOf(payload)`, it is a proxy not the original, the object reference are not the same,

that's why `{} == {} // => false`, they are pointer to different object, even though structurally the same

[2018-05-01 14:59] mweststrate commented on #147
The first error is correct.

The second error is correct as well, as `splice` will return the collection of removed items, which is something completely different then `s`. You probably meant `s => { s.splice(1, 2) } ` which is something different

The third case, it is unclear what is unintentional about it?

I think the `replace` api as proposed unnecessarily complicates think, without adding re

[2018-05-01 14:59] #147 closed

[2018-05-01 15:02] mweststrate commented on #141
@a-pavlov-parc I don't really understand your issue. Can you turn it into a PR with unit test?

`try .. finally` means that the exceptions are *not* caught by immer, while introducing a `catch` blocks actually eats the errors and makes it impossible to catch them outside. If an error is thrown, but you don't see it back anywhere in the browser, that means that you are eating exceptions *somewhere

[2018-05-01 15:03] #142 closed

[2018-05-01 15:03] mweststrate commented on #136
@scriby to clarify, do you want to export it both as default and normal function, or only as normal export?

[2018-05-01 15:04] mweststrate commented on #134
Closing for the lack of a reproduction

[2018-05-01 15:04] #134 closed

[2018-05-01 15:04] mweststrate commented on #132
Closing for the lack of a reproduction

[2018-05-01 15:04] #132 closed

[2018-05-01 15:05] mweststrate commented on #133
closing, as question has been answered

[2018-05-01 15:05] #133 closed

[2018-05-01 16:52] scriby commented on #136
I think it would work for us if immer used a normal export in addition to the default export.

[2018-05-04 12:49] mweststrate commented on #100
Released as 1.3.0

[2018-05-04 12:49] #100 closed

[2018-05-04 12:50] mweststrate commented on #141
Closing until a reproduction is available

[2018-05-04 12:50] #141 closed

[2018-05-04 13:05] kachkaev commented on #100
Thank you @mweststrate! I upgraded to immer@1.3.0 and can confirm that I no longer experience the bug 🎉

[2018-05-04 14:04] MaxBoltik opened #148 "Default returned value."
It's a bit strange for me:

[code]

[2018-05-04 15:31] pkerschbaum commented on #148
Hi @MaxBoltik,

The behavior is as expected, see explanation below:

1) `console.log(produce(null, draft => draft)); //null`

Since the given reducer `draft => draft` does not have a function body, the arrow function will implicitly return the expression on the "right side" of the reducer.
So in this case, the currentState `null` is passed to the producer, and then `null` is returned from the prod

[2018-05-05 09:00] MaxBoltik commented on #148
Hi @pkerschbaum, maybe you are right. But in the [readme.md](https://github.com/mweststrate/immer/blob/master/readme.md) i see the next:

**Notice that it is not needed to handle the default case, a producer that doesn't do anything will simply return the original state.**

In the given example, produce will return undefined if "action.type" is different from RECEIVE_PRODUCTS.

[2018-05-05 09:07] likerRr commented on #148
In redux it's a common pattern to pass `null` as default state value. And redux expects, that `undefined` will not be returned from reducer.

Given example in readme confuses in case when state is `null`
[code]

[2018-05-05 10:37] MaxBoltik commented on #148
Maybe you can fix that?

[2018-05-07 06:02] travikk opened #150 "Assigning array to a draft always produced new instance"
Hey,

Given the following code:

[code]

Equality checck agains nameChanged will return true, as it's setting name to the same value as the baseState.
Equality check against arrayAssigned will return false (both for the state and state.items).
This to me looks like it should return true, as we're not modyfing the _underlaying_ data.

Here's a code sandbox link with the above code:

https://codesan

[2018-05-08 10:58] vorg opened #151 "Clone on freeze?"
Assigning object to state in Immer 1.0.3 freezes the object. I would expect the resulting state to be frozen, not the source data?

[code]

I think i understand why that happens (you want to avoid copying data) but it means `produce` has unexpected sideffects on the rest of my app as it freezes any data it touches.

Sample https://codesandbox.io/s/y5ljyl319

[2018-05-09 18:47] mweststrate commented on #148
@MaxBoltik could you open a PR with a unit test to reproduce the issue? This looks like a bug indeed.

[2018-05-09 18:49] mweststrate commented on #136
@scriby feel free to open a PR. Would you be ok that the typings for flow / TS don't support this? I would rather keep this an undocumented feature to avoid confusing by other consumers.

[2018-05-10 09:03] RichieAHB opened #153 "Getting the wrapped object from a proxy"
Please specify:

(Not filling out _all fields_ of this template will probably result in your issue being closed without further notice. If you are not willing fill it in, why would someone else spent his time fixing it?)

* [x] Feature request: I'm currently using immer to modify a subtree inside a larger tree. I want to be able to find nodes in the subtree using reference equality (rather than th

[2018-05-10 11:08] RichieAHB commented on #153
This is verbatim code but basically it would be nice if `targetPredicate` could be a function that `===` compares two objects. I'd also like to be able to quickly get a reference to the new part in the tree outside of produce (but I'm considering just putting a `Symbol` on the update node in the tree and using that, rather than the original predicate, to find the node again after update). Hope thi

[2018-05-12 06:18] scriby commented on #136
I've currently got a patch in our source control for both immer and the typings to add produce as an export. It's not too much harder to maintain both of those than just one of them, so I'd probably just keep maintaining both of them if no changes can be made here.

I don't think I follow why adding a regular export would be confusing. In my opinion `import produce, {setAutoFreeze, setUseProxies}

[2018-05-15 07:33] alexcroox commented on #134
Sorry for disappearing I became a father a few weeks ago so been a little distracted. This is still effecting me so I will try reduce to a small test case.

[2018-05-17 23:50] RoboPhred commented on #153
I came across the need for this as well today.  I am using immer for my internal state management, but I have sub-reducers provided by an external source.  I would like to act like pure-redux to the outside world, but as-is I cannot pass them a non-mutable state.

I essentially have something like this
[code]

An additional complexity is that this is being done in another loop, processing batched

[2018-05-19 12:32] BasitAli commented on #151
I don't really know the internals of immer but I think that's the expected behaviour. When you produce a new state, only the parts you modified are updated, the rest of the properties are just written back as it is. When the result is frozen, it causes all the properties to freeze (`user[0]` in your case).

Although you may disable auto-freeze `setAutoFreeze(true / false)`, I modifying/mutating th

[2018-05-20 10:25] Sigmus commented on #151
Why would you need to modify your original data? The whole idea is you always modify the produced state, not the original data.

If the rest of your app needs to modify the original data maybe you could clone the object before producing a new state?

[2018-05-20 22:08] vorg commented on #151
Well this is quite big application. I wanted to introduce immer gradually and freezing source data, not just state, has some non trivial side effects. If that’s expected i must have misunderstood the docs. I expected that only state aka objects returned from produce are frozen. Currently I resolved the issue by storing selectedUserId instead if whole user model object.

[2018-05-22 15:04] wonderwhy-er opened #155 "Custom Class support in state tree"
* [x] Feature request: ______
  * [x] I am willing to implement this myself

Tried my hand on it quickly and you can find it here
https://github.com/wonderwhy-er/immer/commit/0fcc078b62685351b766a52a90cd39a0ac3a74f0

Issue is that it does not throw on non Date objects now

Also for classes that use private techniques this wont work correctly, probably needs second symbol that allows providing cust

[2018-05-27 16:20] stefanwille commented on #148
Added a spec and fix in #157

[2018-05-28 06:50] #148 closed

[2018-05-28 06:56] mweststrate commented on #151
freezing can be disabled by using `setAutoFreeze(false)`.

You understood the docs correctly; only the returned state is frozen.

Beyond that, as @Sigmus indicitated, if you start to modify either the original or returned data, you break the model of immutability and all guarantees and assumptions you could made before can no longer be made.

[2018-05-28 06:56] #151 closed

[2018-05-28 07:04] mweststrate commented on #153
@RichieAHB when working with immutable data structures, you should never rely on reference equality of objects, that model breaks as soon as anything fancies happen, (being immer, or some middleware that does other stuff in the mean time etc). I recommend to pass along id's instead.

Alternatively you could perform the search in the original model, and the run immer just on that model and then mer

[2018-05-28 07:04] #150 closed

[2018-05-28 07:05] mweststrate commented on #150
Closing as answer has been provided and this is working as intended

[2018-05-28 07:26] mweststrate commented on #148
Released as 1.3.1, thanks!

[2018-05-28 07:39] RichieAHB commented on #153
I am actually doing it for finding nodes in the tree but also, ensuring the
state is the same (hence the reference equality is ideal for me here). I’ll
open a PR for an `original` function if that’s cool :)
On Mon, 28 May 2018 at 08:04, Michel Weststrate <notifications@github.com>
wrote:

[2018-05-28 16:49] Grsmto commented on #94
Hey guys,
Sorry to pop on this issue but I'm not sure I'm facing a bug or I just don't understand how Immer works.
It seems like once we use `Object.assign` like suggested in #issuecomment-364646429 I got a `read only` error. You can find an example on the following codesandbox https://codesandbox.io/s/mzx4w93wx9 .

Does anyone has an idea if I'm doing something wrong there or if it's a bug?
Thank

[2018-05-28 22:00] mweststrate commented on #94
Please avoid commenting on closed issues, rather open new one referring to
this

Op ma 28 mei 2018 18:49 schreef Adrien Denat <notifications@github.com>:

[2018-05-29 09:29] jwickens opened #159 "Feature request: export createProxy and finalize methods"
Please specify:

* [x ] Feature request: ~~thenable producer~~ export  createProxy and finalize
  * [x ] I am willing to implement this myself

I would like to use immer to implement something like the following

[code]

Where record is the proxy, and calling save finalizes the output of the producer.

To be clear, Im not requesting the above API in immer.

[2018-05-30 06:05] jwickens commented on #159
Just thinking about this more rather than modifying the producer api to support promises I think I could just use this line from proxy.js
https://github.com/mweststrate/immer/blob/537aa92f4daa290ca97dfcbac72701c836f536aa/src/proxy.js#L142

To get the member of "MyModel" setup with the immer proxy

and the use "finalize" from common.js for the "MyModel.save()"

So the issue then would be exporting

[2018-06-01 06:41] wonderwhy-er commented on #26
It seems I hit a roadblock with converting mutable state container to immer and am pondering what to do or how to solve this.

Imagine we have a list of items.
Then we have filtered list of items which is a subset of list above.

In case of state being not normalised filtered list has references to items in whole list.
Then if we run produce changing item in one list it won't change item in other

[2018-06-05 02:42] bradennapier commented on #146
So I wanted to get full support for ES6 Map/Set.  I also needed to get change logs of every update -- since the proxy makes this pretty efficient I took my own stab at re-building the library a bit.

## [immuta](https://github.com/odo-network/immuta)

It is still a little messy since I was just getting it into the fold but the example does a good example of showing it in action:

[code]

[code]

!

[2018-06-05 03:10] malash opened #160 "Feature request: support JSON Patch"
Please specify:

* [x] Feature request: support JSON Patch
  * [x] I am willing to implement this myself

Any plan to support the [JSON Patch](http://jsonpatch.com/) specified in [RFC 6902](http://tools.ietf.org/html/rfc6902) ?

[2018-06-05 03:32] bradennapier commented on #155
Best solution is probably to export the symbol that `immer` already uses to indicate state and use that in some way.  Another option is to use a public symbol `Symbol.for('$immer/Ignore)` to make immer stop parsing the object any further.

[2018-06-06 19:09] Rob-pw commented on #136
On node version `v9.11.1` using the `--experimental-modules` flag I attempt the example stating `import produce from "immer"`, as you describe I tried `import { default as produce } from "immer"` but this results in an object of form `{ default: [Function: produce],  setAutoFreeze: [Function: setAutoFreeze], setUseProxies: [Function: setUseProxies] }` and a `TypeError: produce is not a function`.

[2018-06-08 08:35] hufan-akari commented on #136
I want to use immer through CDN. I have to write `immer.default`, it is not clear.

[code]

Could we make it better?

[2018-06-08 08:49] mweststrate commented on #136
@Rob-pw I can't follow your question. Which variant is working and which isn't?

@hufan-akari No, that is how the module system works, and this keeps it consistent. `import x from y` means `const x = require('y').default` in commonJS. Just put `const produce = immer.default` somewhere in the top of your file and use that.

[2018-06-08 08:50] mweststrate commented on #160
mobx-state-tree supports json-patch OOTB :)

Op di 5 jun. 2018 om 05:26 schreef Braden Napier <notifications@github.com>:

[2018-06-09 11:43] Rob-pw commented on #136
In this case `import x from y means const x = require('y').default` doesn't seem to hold, otherwise we would not need to declare a `const produce = immer.default` afterwards, which works but is a tad awkard.

`import { produce } from immer` would be ideal for me also.

[2018-06-10 06:02] hufan-akari commented on #136
I vote for export named function.
I prefer to use `immer.produce`.

[2018-06-11 03:22] #160 closed

[2018-06-14 00:30] rweller59 opened #162 "MapStateToProps"
Please specify:

(Not filling out _all fields_ of this template will probably result in your issue being closed without further notice. If you are not willing fill it in, why would someone else spent his time fixing it?)

* [ ] Feature request: ______
  * [ ] I am willing to implement this myself
* [x ] Issue: _______
  * Version: ____
  * _SIMPLE_ Reproduction: ____ (tip: fork this sandbox: https

[2018-06-14 00:55] rweller59 commented on #162
sorry, dumb mistake

[2018-06-14 00:55] #162 closed

[2018-06-14 11:34] jbojcic1 commented on #155
Any news on this?

[2018-06-14 11:38] pmilic021 commented on #155
The initiative is great and it is really needed! Immer has (IMO) the cleanest way of writing object updates, but without this, its kind of useless for TS.

With that said, what is blocking you? Perhaps some of us could help?

[2018-06-14 13:57] wonderwhy-er commented on #155
From my side. I refactored part of my private project on to immer with that fork I linked to and made part of the state work like this.

There I encountered two other problems one of which is related.
So if I have a
class Task {
private state:boolean = false;
public complete() {
 this.status = true;
}
}

This will not work with Immer as in 'complete' method I will be editing this and not something

[2018-06-14 14:03] wonderwhy-er commented on #155
1) In short I have doubts about real use case for classes, if we only use immutable ones then it is ok, but trying to preserve mutation interface on nested classes level looks pretty weird at the moment
2) I also have no use for custom Proxy implementation and just use Immer proxy on classes and it works fine
3) I see two approaches to marking classes as usable by immer. Ether symbol based I did i

[2018-06-15 15:12] RikuVan commented on #146
Cool, I am curious to look at your version more carefully as soon as I have more time.

[2018-06-17 18:01] bradennapier commented on #146
Yeah it is working well now and performs very well.  As for mentioning not needing to recurse, I disagree.  Take this example:

[code]

[2018-06-22 20:19] Nick-t-go opened #163 "Adding Property to Object in Array Not Working"
* Version: 1.3.1
* [x] Issue:
  Trying to add a property to objects that are unfortunately pretty deep into the state tree. Instead of having the property added to the object it replaces the entire object i.e I lose all other properties on the object. I am doing something wrong but not sure what it is. The problem occurs for the SET_LAYOUT_AREA case in the following reducer:
[code]
  * Expected be

[2018-06-27 10:24] kduy969 opened #164 "Multiple set state call fail"
Immer version:1.3.0
React version: 16.3.2

My page contain a dropdown ( response to state.dropdownOpen ), when I click on user item on dropdown will open a profile modal ( response to state.openProfileModal).

The problem is when I click on "user item" this.toggleProfile() will be call, but this.toogleDropdown() will be call after that ( because every time an item is clicked, the dropdown will try

[2018-06-27 11:16] mweststrate commented on #164
`setState` is async, so to update based on the previous scheduled state one should use `this.setState(state => produce(state, draft => {}))`

[2018-06-27 16:33] kduy969 commented on #164
Thanks, your solution work, and to be safe, I think while using immer I should change all
[code]
to
[code]
right ?
because multiple setState call sometime happen unexpectedly.
Only 1 more question: does this approach affect performance

[2018-06-27 17:05] mweststrate commented on #164
Whether it affects performance doesn't doesn't matter until you can proof
otherwise 😊

Op wo 27 jun. 2018 18:33 schreef kduy969 <notifications@github.com>:

[2018-06-28 03:54] kduy969 commented on #164
Thanks, I will figure out later.

[2018-06-30 12:08] #164 closed

[2018-07-08 08:57] wooandoo commented on #138
hi,

immer seems promising.

for information, I did another benchmark: immer vs ramda lens vs shallow copy:
* https://jsbench.me/2mjjchh1pm/1
* https://measurethat.net/Benchmarks/Show/3379/0/immer-setautofreezefalse-vs-shallow-vs-ramda-lens

with a existing "database" of 100 items (by default):
* immer is 2 times less performant (28,144 ops/s)
* ramda lens ~ shallow copy (40,498 ops/s )
* shallow

[2018-07-19 23:23] grassick opened #165 "Immer doesn't show up on npm search"
Issue: Immer doesn't show up when *searching* on npm: https://www.npmjs.com/search?q=immer
  * Version: N/A
  * Go to the url
  * Expected behavior: see immer in list
  * Observed behavior: immer not listed

[2018-07-20 19:32] drcmda commented on #103
@mweststrate would it be possible that it detects that if the draft is altered it should simply take the draft and neglect the return value? Having to write out scope blocks sometimes takes more boilerplate than a standard reducer in some cases.

For instance

[code]

would be a clear intent on the programmers side, and immer probably could easily flag the draft as mutated, in which case it should

[2018-07-20 19:36] drcmda opened #166 "Can immer detect draft changes and spare us from typing out scope blocks?"
* [ x ] Feature request: detect draft mutation
  * [ x ] I am willing to implement this myself

For instance

[code]

The arguments:

* immer probably could easily flag the draft as mutated, in which case it shouldn't nag with warnings but simply use the draft instead of the return value.
* Having to write out scope blocks often takes more space than a shallow clone reducer.
* It's a a clear inten

[2018-07-21 06:59] superhawk610 commented on #165
This seems like an NPM issue, maybe open an issue at their repo?

[https://github.com/npm/registry](https://github.com/npm/registry)

[2018-07-21 10:50] mweststrate commented on #166
Tricky case:

`const res = produce(base, draft => draft.x = 7)`. What if `base.x` was 7 before. `base` is unmodified so `res` will become 7?

[2018-07-21 11:12] drcmda commented on #166
If the draft is being accessed, wouldn't this run into the get handler? That would pretty much make it contractual. Any access or mutation whatsoever -> draft, everything else -> return.

[2018-07-21 12:11] mweststrate commented on #163
Closing for the lack of a reproduction

[2018-07-21 12:11] #163 closed

[2018-07-21 14:07] #97 closed

[2018-07-21 18:17] giorgi-m opened #169 "setTimeout and immer"
* Reproduction: https://codesandbox.io/s/k3r79vm813
  * Expected behavior: increase the bday value
  * Observed behavior: I get an error:  "Uncaught TypeError: Cannot perform 'get' on a proxy that has been revoked at eval"

Is my understanding correct and setTimeout inside produce doesn't work out well?
e.g. this code raises error as specified below:

[code]
Error

[2018-07-21 19:40] mweststrate commented on #169
You cant do stuff async like that, the producer already returned before your timeout runs. Basically you would be modifying an object nobody has a reference to anymore. And to fail fast on that the proxy get's revoked.

Instead, swap the whole thing around; put the setState & produce inside your setTimeout.

[2018-07-21 20:05] giorgi-m commented on #169
@mweststrate I see but that swapping wouldn't be easy if theoretically I wanted something like this:
[code]
isn't it?

[2018-07-21 22:32] mweststrate commented on #169
You should call setState twice if you want to set your state twice

Op za 21 jul. 2018 22:05 schreef giorgi-m <notifications@github.com>:

[2018-07-22 08:10] #169 closed

[2018-07-24 20:56] abidev commented on #136
I am using Typescript 2.3.3 with moduleResolution "node" `import produce from 'immer'`  &  `import * as prodce from 'immer'` throws compile time error... can any one help me ?

[2018-07-24 23:19] abidev commented on #136
@mweststrate Thanks for your time...
https://github.com/abidev/immer-test, simple repo with just one ts file, Whenever i import immer ngc just shouts `TypeError: Cannot read property text of undefined` just do npm run build after uncommenting any of import style mentioned above

[2018-07-25 04:06] bradennapier commented on #146
I provided some more insight into some of the challenges with `Set` (and a little bit into `Map`) with the release of some extra helpers to handle deep merging.  They may also be helpful to anyone who might want to take on such a task.

https://github.com/odo-network/immuta/issues/1

Essentially `Set` introduces a fairly difficult problem in that it when you want to change the reference to the ite

[2018-07-25 09:35] mweststrate commented on #67
Closing for now, could be reopened if somebody feels for it :)

[2018-07-25 09:35] #67 closed

[2018-07-25 10:12] mweststrate commented on #138
Just merged #140.

As a reminder, note that the test is kinda artifical; if you need to add X-thousand items that should be done in a single `produce` call! If this is part of an async process (e.g. new data coming in over a websocket), then you will have the overhead of the individual produce calls; however, then these times will be typically be neglect-able compared to the duration of the websoc

[2018-07-25 10:12] #138 closed

[2018-07-25 11:33] mweststrate commented on #136
`produce` is now and named export as well and released as 1.4.0

[2018-07-25 11:33] #136 closed

[2018-07-25 11:34] mweststrate commented on #97
Released as 1.4.0. Have fun!

[2018-07-25 11:42] mweststrate commented on #155
Working classes won't really fit the working model of MST for a few reasons

1. To be able to clone the class needs to have an argumentless constructor
2. All the fields itself need to be cloneable again (in case they are modified during the produce), so no streams, socket connection, functions etc
3. All methods would need to be applied to the proxy, not the original `this`. This is doable with p

[2018-07-25 11:53] mweststrate commented on #159
If you want to update state asynchronously, just run `produce` twice, there is no need to keep the produce "open". If you don't want to be affected by changes in the mean time.

[code]

See also https://github.com/mweststrate/immer/issues/169 for a similar question

[2018-07-25 11:56] mweststrate commented on #153
@RichieAHB sure, welcome!

[2018-07-25 11:58] mweststrate commented on #120
See also https://github.com/mweststrate/immer/issues/155#issuecomment-407725592

[2018-07-25 13:04] mweststrate commented on #136
@abidev I think there might something with your local setup, or best clear your node_modules, upgrade ode, etc. For me your repository worked just fine:

[code]

For any follow up comments, please open a new issue, as your question is unrelated to this issue.

[2018-07-25 14:59] abidev commented on #136
@mweststrate Thanks... will try that

[2018-07-25 16:00] Knacktus opened #171 "Typescript error in v1.5"
Just upgraded to version 1.5 in an Angular project. Compilation shows the following errors:

ERROR in node_modules/immer/dist/immer.d.ts(4,3): error TS1131: Property or signature expected.
node_modules/immer/dist/immer.d.ts(4,25): error TS1005: ']' expected.
node_modules/immer/dist/immer.d.ts(4,26): error TS1005: ';' expected.
node_modules/immer/dist/immer.d.ts(4,27): error TS1128: Declaration or

[2018-07-25 16:11] awto commented on #120
Yes, I still have plans to implement this, I need it for my project, haven't had time for this yet though, I hope I'll make a PR soon.

[2018-07-25 16:34] mweststrate commented on #171
You need at least TS 2.8

Op wo 25 jul. 2018 18:00 schreef Knacktus <notifications@github.com>:

[2018-07-26 05:40] Knacktus commented on #171
Meanwhile Angular 6.1 with TS 2.9 was released. All working fine. You just need a little bit of luck :-) ...

[2018-07-27 15:43] abidev commented on #171
@mweststrate Thank you for great library... I also faced above issue... But my project is quite big includes couple of teams will not be able upgrade typescript easily... So i went on using UMD

Do you have any other better suggestion in this case ? or is it fine ?

[2018-07-30 10:23] wonderwhy-er commented on #155
@mweststrate
You are mostly correct, especially in case of this complexifying design too much.
Playing with the implementation I did make some things from your list work, 1. 2. are not a problem depending on how you solve it. Reminds of how to react allows impure components hidden behind pure interfaces when you are wrapping something like google maps.

Now I did encounter 3. and solved it in a wa

[2018-08-02 09:40] jwickens commented on #159
Hmm, ok that makes since. I still think having the createProxy and finalize functions available so that the proxy can be used outside of the recipe function scope. Are those functions that you think would make sense to expose in the immer package?

[2018-08-16 14:47] mweststrate commented on #146
For now added some docs on how to work with Map's and Set's in combination with Immer:

https://github.com/mweststrate/immer/commit/d9b4d566f4e6043384ab10a758c5ff943b33f57a

Closing this issue for now, but if  PR shows up that supports both Maps and Sets completely, with deep updates and also works in ES5 mode :)

[2018-08-16 14:48] mweststrate commented on #171
@abidev you could grab the typings from the 1.4 version of the packages, and use [patch-package](https://www.npmjs.com/package/patch-package) to replace the latest typings with these older ones.

[2018-08-16 14:48] #171 closed

[2018-08-16 14:50] mweststrate commented on #159
Nope, the whole point of immer is that the drafts are only modifyable at a very strict point in time, and are useless outside it, as it are the immutable states that should drive  your app, not the drafts.

[2018-08-16 14:50] #159 closed

[2018-08-16 14:51] mweststrate commented on #155
Updates the docs a bit to explain why Immer does not support classes

[2018-08-16 14:51] #155 closed

[2018-08-16 14:53] mweststrate commented on #120
Closing issue for now, any further discussion can take place in a PR, but be warned that such a feature might be much more complicated than it seems at first

[2018-08-16 14:53] #120 closed

[2018-08-16 15:05] mweststrate commented on #41
Picked the first one, also based on the comments by @dwighthouse . Thanks @diegochavez !

[2018-08-16 15:05] #41 closed

[2018-08-16 15:06] mweststrate commented on #26
Nice article: https://medium.com/workday-engineering/workday-prism-analytics-the-search-for-a-strongly-typed-immutable-state-a09f6768b2b5

Closing for now as the usefulness of the package has become pretty clear :)

[2018-08-16 15:06] #26 closed

[2018-08-16 15:07] mweststrate commented on #26
@wonderwhy-er if this is still an open question, please open a separate issue instead.

[2018-08-16 19:16] awto opened #174 "Values sharing isn't preserved"
* [x] Issue: A reference to a single object points to two different objects after `produce`
  * Version: 1.5.0
  * Reproduction: https://codesandbox.io/s/j4xrjyvom9

  * Expected behavior:  Object properties point to same object after producer
  * Observed behavior: There are two clones
  * [x] Occurs when using Proxies (use `setUseProxies(true)`)
  * [x] Occurs in the ES5 implementation (use `set

[2018-08-16 19:30] awto commented on #174
sorry forgot to save it, this doesn't work in both 1.1.1 and 1.5.0

[2018-08-16 19:48] mweststrate commented on #174
Ah this is a completely different test. Immer assumes your data to be a tree indeed, not a graph. Which is typically the case in the contexts where immer is often used. Will make sure to add that more clearly to the readme

[2018-08-16 19:56] awto commented on #174
Thanks. Would you be interested to have the thing in Immer? I mean implemented either by holding a global WeakMap or storing a draft object in its original object, it sounds pretty simple to me. I can make a PR (not soon though).

[2018-08-16 19:56] #174 closed

[2018-08-16 20:00] mweststrate commented on #174
If it is simple, it is welcome! I thought about it when I wrote this half a
year ago, and then came to the conclusion that it would be quite hairy. But
I don't remember anymore why, so I might have missed the simple solution.

Op do 16 aug. 2018 om 21:56 schreef Vitaliy Akimov <notifications@github.com

[2018-08-16 21:19] rymohr opened #175 "reference equality not preserved within draft"
Been loving this library in combination with redux but just ran into a surprising behavior. In the example below I expected `data1` and `data2` to point to the same draft.

https://codesandbox.io/s/qkrq9qy7v6

Version 1.5.0 with and without proxies.

[2018-08-21 09:34] abidev commented on #171
@mweststrate Thank you... will try that...

[2018-08-23 08:14] travikk opened #178 "patchListener with curried invocation"
Hey there,

How can you use patchListener with curried invocation of produce?

[2018-08-23 09:56] mweststrate commented on #175
Duplicate of #174

[2018-08-23 09:56] #175 closed

[2018-08-25 08:02] mweststrate commented on #178
What should the API look like?

Op do 23 aug. 2018 10:23 schreef travikk <notifications@github.com>:

[2018-08-25 21:00] jordyvandomselaar opened #180 "Debugging tools?"
**Feature Request**

I've been a long time user of Redux, which has amazing debugging tools (Replay state, see actions triggering and what nots)

Is there anything like it for Immer?

[2018-08-27 06:53] travikk commented on #178
So I think this would make sense:

[code]

[2018-08-27 08:53] mweststrate commented on #178
Ok, but where is that patchListener coming from; how would you use immer in
that case? Can you show how to call a curried producer and grab the patches
(I don't mean technically, I mean API wise)

Op ma 27 aug. 2018 om 08:53 schreef travikk <notifications@github.com>:

[2018-08-27 09:06] travikk commented on #178
Yep, so *for me* it would make sense to pass it in when you generate the curried invocation, ie:

[code]

[2018-08-27 09:09] mweststrate commented on #178
Ok, but that means that all curried invocations are sharing the same
patchListener, I'm not entirely sure whether that makes sense?

Op ma 27 aug. 2018 om 11:06 schreef travikk <notifications@github.com>:

[2018-08-27 09:29] mweststrate commented on #178
Well, it means that the producers now have a kind of global state that needs to be 'reset'

[code]

Resetting is easily forgotten, might not happen if an exception is thrown between the producer call and the clear (so one has to use `try / finally`), or might cause concurrency issues if the producer and patches are used in asynchronous processes.

That would cause any current curried invocation to

[2018-08-27 09:37] travikk commented on #178
You could make it optional and do a type check, if the first argument is a function or an object, right?

[2018-08-27 09:42] mweststrate commented on #178
The curried invocation could be accepting functions as first argument as
well.

Op ma 27 aug. 2018 om 11:37 schreef travikk <notifications@github.com>:

[2018-08-27 09:47] travikk commented on #178
Hm, what will that do? I thought it's only meant to be some sort of state. In that case, it's hard to add it to curriede invocation.

I guess it won't hurt to add it as in the example above?

[2018-08-27 10:10] mweststrate commented on #178
@travikk well, you can just curry manually, that is not that hard:

[code]

[2018-08-28 15:47] newyork-anthonyng opened #182 "Update README.md with patch listener example"
I was looking through the documentation and didn't find a way to subscribe to changes to `immer`. It seems like this functionality is available in `immer`, but there aren't examples in the `README.md`.

Let me know if you want me to update it.

Please specify:

(Not filling out _all fields_ of this template will probably result in your issue being closed without further notice. If you are not will

[2018-09-02 11:01] drcmda commented on #166
I guess this https://github.com/mweststrate/immer/pull/183 would be enough. Just had no idea it existed.

[2018-09-03 13:17] mweststrate commented on #180
No, Immer is much more low level and not a state managent library. If you use Immer with Redux, you will benefit from the redux devtools, and if you combine it with any other immutable oriented lib you will benefit with the devtools from that lib. Basically you can use any object diffing tool icmw immer.

But immer has no concepts of actions etc etc.

[2018-09-03 13:17] #180 closed

[2018-09-03 13:18] mweststrate commented on #182
There is an example in the README here: https://github.com/mweststrate/immer#patches

[2018-09-03 13:18] mweststrate commented on #178
Closed, since answered

[2018-09-03 13:18] #178 closed

[2018-09-03 13:28] mweststrate commented on #166
The `void` solution is now part of the readme as well: https://github.com/mweststrate/immer#inline-shortcuts-using-void

Beyond that I'm still not fully against, or in favor of this feature.

Pro: nice and short!
Con: sometimes returning something from a producer will have a meaning, sometimes not. Will it be clear to users when it will have meaning and when not? What if there is a lot of logic, w

[2018-09-03 13:55] drcmda commented on #166
Sure, the smaller the better. If you think using object traps to detect the change mechanism is worth it, it would be great to have that for sure.

The whole problem for us stems from a project we've made which has dozens of small updater functions, and the code stretches compared to the previous version (redux reducers) that we thought maybe it would be nice if immer could help here a little. voi

[2018-09-03 15:06] SteveALee opened #184 "Readme notes on default / named export of produce"
Documentation comment:

"produce is exposed as the default export, but optionally it can be used as name import as well, as this benefits some older project setups."

More than 'older project setups' I think there are a few benefits. [This article](https://blog.neufund.org/why-we-have-banned-default-exports-and-you-should-do-the-same-d51fdc2cf2ad) covers them well.

[2018-09-04 12:14] newyork-anthonyng commented on #182
@mweststrate 👍

[2018-09-04 12:14] #182 closed

[2018-09-11 12:23] Izhaki opened #185 "Readme notes about limitations are confusing."
* [X] Issue: Documentation
  * Version: Master

[README > Limitations / Pitfalls](https://github.com/mweststrate/immer/blob/0a80c2c108a41b810028a539a8699dea66000d77/readme.md#limitations--pitfalls)

This is how I read it first time until I decided this makes no sense:

My thoughts: So no support for strings and integers?
Assumed meaning: It does not support Map and Set (clear in the 1.5.0 README).

[2018-09-11 12:30] datenreisender commented on #185
In the same section the

confuses me. It looks like `here` should be a link and `[confusing, conceptual mismatch]` looks like it is a draft where the author still wanted to decide, what to actually write.

[2018-09-13 08:15] mweststrate commented on #185
Clarified the readme on both points, feel free PR further changes if anything is still unclear

[2018-09-13 08:15] #185 closed

[2018-09-13 08:20] mweststrate commented on #166
Closing for now, I think the potential confusing makes it harder to track down mistakes in this, than the current fail fast behavior, and `void` seams a nice work-around for single line functions

[2018-09-13 08:20] #166 closed

[2018-09-13 14:36] RIP21 commented on #153
Since it merged it should be closed :P @mweststrate

[2018-09-13 15:29] mweststrate commented on #153
Doh!

[2018-09-13 15:29] #153 closed

[2018-09-14 10:10] HiMrHu opened #187 "Newbie question"
Hello, I have a question. I found the following code in your code

[code]
What is the purpose and significance of {} here？
Looking forward to your reply.

[2018-09-14 12:01] guillaumearm opened #188 "README: Imperative programming"
Hi, this is a nice little library :)

It would be nice to have a section in the readme talking about the fact `immer` encourage `imperative programming` over `declarative programming`.

What do you think about that ?

[2018-09-14 17:20] brummelte opened #189 "Usage with eslint no-param-reassign"
I don't want to disable the eslint rule "no-param-reassign" globally, because it prevents errors.

So this seems to be the best way to use immer with that rule enabled:
[code]

There is a way to specify "ignorePropertyModificationsFor" for that eslint rule (https://eslint.org/docs/rules/no-param-reassign). So draftState could be ignored. But that would only exclude that name.

Is there a better wa

[2018-09-14 17:49] mweststrate commented on #189
@brummelte I don't think your example is a param reassign and the rule shouldn't trigger on it

[2018-09-14 17:49] #188 closed

[2018-09-14 17:52] mweststrate commented on #187
See: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/block

I doesn't serve any purpose any in this code base and could be removed semantically, but in this case I abused it to apply a single `// prettier-ignore` to multiple statements at once.

[2018-09-14 17:52] #187 closed

[2018-09-14 17:53] mweststrate commented on #74
@ronen don't comment on closed issues, chances are 50-50 that someone will see it.

[2018-09-14 17:54] mweststrate commented on #74
@ronen anyway, check https://gist.github.com/kitze/fb65f527803a93fb2803ce79a792fff8 or some of the other stuff linked here: https://github.com/mweststrate/immer#cool-things-built-with-immer

[2018-09-14 18:17] brummelte commented on #189
You are correct, I just copied it from your example. But the question stays the same:

[code]

[2018-09-14 18:27] brummelte commented on #189
It is with the option `{ "props": false }`.

[2018-09-14 18:47] mweststrate commented on #189
Wow that's an insane rule disabling half the language. But not going to
argue it,  that is too tiring. you might try to set option
ignorePropertyModificationsFor: "draft".

Otherwise; drop either that rule or immer.

Op vr 14 sep. 2018 20:27 schreef Jan Brummelte <notifications@github.com>:

[2018-09-14 19:13] #189 closed

[2018-09-14 19:19] mweststrate commented on #189
For future readers: did that option solve the issue?

Op vr 14 sep. 2018 om 21:13 schreef Jan Brummelte <notifications@github.com

[2018-09-15 05:55] SteveALee commented on #184
Maybe remove the "older" as it just raises questions :)

[2018-09-15 08:17] davalapar commented on #189
Won't this work?

[code]

[2018-09-15 11:48] brummelte commented on #189
The issue was, that that is not the perfect solution. But yes, that setting would work.

[2018-09-15 13:13] johnnyreilly opened #194 "Is this project dead?"
https://mobile.twitter.com/mweststrate/status/1040717913592918016 :wink:

[2018-09-15 16:05] mweststrate commented on #194
No, it's just immutable

[2018-09-16 03:44] szagi3891 commented on #146
Someone might want to add this PR?  :)

Support for maps and set is the last thing that is missing in this cool library. Then I could get rid of the dependence on immutable.js

[2018-09-17 13:34] cwayfinder opened #195 "(1.6.0) Array methods return undefined"
* Version: 1.6.0
  * _SIMPLE_ Reproduction:
[code]
  * Expected behavior: return the item of the array if it exists
  * Actual behavior: return `undefined`

[2018-09-17 14:06] dangerousdan opened #196 "Performance with Redux combineReducers"
This isn't a feature request. Just a query regarding performance & best practice.

Many people using Redux will have multiple reducers, and combine them with combineReducers. This means that a lot of the time the reducer will not fire any action at all (because the action exists on another reducer).

The `produce` method creates a proxy, right? Is this an expensive operation to do, when the reduce

[2018-09-17 14:44] mweststrate commented on #189
Ok, to summarize:

1. `no-param-reassign` rule makes perfect sense, I actually strongly recommend it, because `draft = X` assignments are really a no-op
2. `props: true` option though kinda defeats the purpose of immer, and should be kept to `false` (the default), or an exception could be made by setting `ignorePropertyModificationsFor: "draft"`

[2018-09-17 14:47] mweststrate commented on #195
Given that the above doesn't give any insight in what `extraId` is, or doesn't exclude that the bug is somewhere else (typo, etc etc), please create a small, runnable, reproduction in codesandbox or as PR with unit test on this repo. (Tip: use gitpod).

[2018-09-17 14:51] mweststrate commented on #196
Creating proxies is cheap, especially in browsers that support proxies.

Like typically with these kind of things; theoretically you are right that the second approach is expected to be faster. In practice though, it might very well not matter at all, unless you are running  your reducers an insane amount of times per second, but then your bottlenecks will probably be somewhere else.

In other wor

[2018-09-17 15:18] #196 closed

[2018-09-17 17:13] #194 closed

[2018-09-17 18:41] johnnyreilly commented on #194
Haha!

[2018-09-18 02:42] lotz commented on #195
I just ran into an issue with Arrays had to downgrade to 1.5.0 to get around it. Not sure if it's quite the same as this, but using a `forEach` with draft state (a proxy) in an NGXS app would cause a stack overflow error. Attempting to access an element of the draft state array would result in an undefined, so something is up with Arrays in 1.6.0.

I can hopefully put together a simple repro case

[2018-09-18 14:40] mweststrate commented on #195
@cwayfinder  As shown in above commit, the `find` method works as expected. So please provide a reproduction or close this issue.

[2018-09-18 14:45] lotz commented on #195
I should have mentioned in my comment, and it may be related to the original comment in this issue, but this only came up when building my entire app for production (`ng build --prod`). It did not happen in Dev mode.

[2018-09-19 09:01] mweststrate commented on #195
@lotz that sounds like a different issue. If the problem persists please create a new issue including reproducible reproduction.

[2018-09-19 14:55] lotz opened #198 "(1.6.0) Iterating over Arrays in draft state causes "Maximum call stack size exceeded" errors"
Please specify:

* [ ] Feature request: ______
  * [ ] I am willing to implement this myself
* [x] Issue: **Iterating over Arrays in draft state causes "Maximum call stack size exceeded" errors**
  * Version: **1.6.0** _(this issue did not occur in version 1.5.0)_
  * Reproduction (not really simple; requires running an app in production mode):
    * Download the attached example project, [DraftAr

[2018-09-19 14:55] lotz commented on #195
Thanks @mweststrate. Just opened https://github.com/mweststrate/immer/issues/198 with repro steps and example code.

[2018-09-19 15:01] mweststrate commented on #198
Can you provide the json of the state before you try to update it? And the
code producer that you are applying to it?

Op wo 19 sep. 2018 om 16:55 schreef Kurt Legerlotz <notifications@github.com

[2018-09-19 15:06] lotz commented on #198
That can be found in `app.component.ts` in the Angular project.

The initial state:
[code]

When clicking the `Update` button in the example, each `num` value will be incremented.

[2018-09-20 09:01] mweststrate commented on #198
Confirmed, and confirmed that bug was not present in 1.5.0

[2018-09-20 09:17] #198 closed

[2018-09-20 09:19] mweststrate commented on #198
@lotz I think (as I don't entirely understand the problem, but somehow webpack and the immer package setup didn't play nicely together), this issue will be fixed by `1.7.2`, could you confirm?

[2018-09-20 09:20] mweststrate commented on #195
Closing for a lack of reproduction. #198 has been solved in the mean time, so upgrading to 1.7.2 might fix the issue, if the cause is related

[2018-09-20 09:20] #195 closed

[2018-09-20 16:51] ianstormtaylor commented on #155
Could you explain the alternative you're suggesting here? Is there no way to have `immer` deal with immutable records/structs that also happen to have their own prototype with helpful methods?

[2018-09-20 16:59] mweststrate commented on #155
Correct, very simply put, the most trivial pattern like this wouldn't work:

[code]

After this, immer should have cloned both an instance of X and an instance of Z, but it is very hard to generalize the concept of cloning for classes, because immer cannot know how the constructor for X should have been called.

[2018-09-20 17:05] ianstormtaylor commented on #155
@mweststrate thanks for much for the quick response! That makes sense to me I think. I guess, my question then is, for someone coming from Immutable.js, how can we handle the `Record` use case with `immer`? Is there no way?

I see lots of benefits in `immer`, and I'm just trying to figure out how to maintain some of the benefits of `Record` at the same time. Having the related methods be directly

[2018-09-20 17:07] mweststrate commented on #155
@ianstormtaylor Record doesn't really support having a prototype as well doesn't it? As in; preserving it will being cloned etc (sure you can throw functions in the mix, but that works with immer as well)

[2018-09-20 17:15] ianstormtaylor commented on #155
@mweststrate I'm not sure actually. It sounds like I may not be understanding how `immer` is able to use functions, so maybe this is already solved?

Given a simple `Record` use case like:

[code]

This example is pulled from my existing Immutable.js `Record` usage, and shows a few different things I'm curious about, but can't quite figure out what the recommended `immer` way is:

1. An instance `

[2018-09-20 17:34] mweststrate commented on #155
This is what ImmutableJS does, it preserves the prototype for object types:

https://github.com/facebook/immutable-js/blob/f71ccd5db2016e0dbed72838ab81b931b5e90e9e/src/Record.js#L216

We could do the same for immer I guess, but there are some limitations: It has to be clear that constructors should take no args, and it has to be clear on which occassions we should stop recursion (e.g, doing the sa

[2018-09-20 17:53] ianstormtaylor commented on #155
@mweststrate interesting!

At least from my own perspective, having the ability to have `Record`-like instances would be a big pro, since it makes defining and using more complex internal concepts easy. I think `Record` is one of the most-liked things about Immutable.js and would make switching easier. But obviously I don't know `immer` so I can't know how easy/hard it would be, and what the limit

[2018-09-21 13:50] lotz commented on #198
Thanks, I will give it a try soon.

[2018-09-23 18:43] davidmal200 opened #201 "Clarification about documentation"
I want to ask clarification about documentation.

In pitfalls section you state:

Can you explain what you mean? For example if I had state like

[code]

and then say `filteredItems `would store all items from `items `except say items with ID 3, would that violate the sentence I cited from your docs? Because in that case say **same** objects (objects without ID 3) would be stored **both** under ke

[2018-09-24 07:19] mweststrate commented on #201
Correct, that violates the rule indeed, as  your state is no longer a directed acyclic tree. Simple rule of thumb: if `JSON.parse(JSON.stringify(state))` produces not the same thing, your state is not a tree.

Since your items have id's already, just store the ID's in `filteredItems`. (And turn `items` into a key/value map for fast lookups).

That being said, storing `filterItems` in your state is

[2018-09-24 07:25] mweststrate opened #202 "Idea: introduce limited support for immutable, cloneable classes"
We could introduce limited support for classes, by preserving the `prototype` of an object when cloning objects. (See als the comments [here](https://github.com/mweststrate/immer/issues/155#issuecomment-423269290))

There are a few potential gotchas however
* Not all data structures can safely be cloned by just preserving the prototype (e.g. most built-in types like, `Map`, `Buffer`, `HTMLElement`

[2018-09-24 07:34] mweststrate commented on #201
@davidmal200 no, cloning will change the structure of your state in your example, simple demonstration:

[code]

You serialized a graph, but you got back a tree; and your filtered items are now inconsistent with your items. One of the core principles of Redux for example is that the state must be a [tree](https://redux.js.org/introduction/threeprinciples#single-source-of-truth) as doing otherwise

[2018-09-24 08:00] davidmal200 commented on #201
@mweststrate Ah do you mean in `items2` now the `filteredItems` doesn't have the reference to `[x]`?
Although content wise both `items2` and `items` are same right?

[2018-09-24 08:02] mweststrate commented on #201
Yes, but semantics are different, first you got one object, now you got
two. Checks for reference equality will fail in `items2`, etc

Op ma 24 sep. 2018 om 10:00 schreef davidmal200 <notifications@github.com>:

[2018-09-24 08:06] davidmal200 commented on #201
Yes `items2.items[0] !== items2.filteredItems[0]` while `items.items[0] == items.filteredItems[0]`. You mean that right?

I would still suggest you add such examples in Pitfalls section as it would be more clear what is allowed and what not. There is also some restriction on dates I remember small code examples wouldn't hurt there either.

Thanks.

[2018-09-24 08:16] mweststrate commented on #201
if a small PR could elaborate on it, that would be welcome, (ideally providing a good external link). But explaining these concepts are kinda outside the scope of immer, immer is tool you might pick because it is useful when opting for an immutable state tree architecture. But explaining why that is a good architecture or understanding the rules of that game are kinde outside of Immer, as typicall

[2018-09-24 08:16] #201 closed

[2018-09-24 08:31] mweststrate commented on #201
Yeah, as said, PR is welcome :-) if there is way of expressing this that
would have made this more clear to you

Op ma 24 sep. 2018 om 10:26 schreef davidmal200 <notifications@github.com>:

[2018-09-24 09:06] davidmal200 commented on #201
i probably won't have time for it and maybe I am not best person to do that PR.

I just advised there maybe many more beginner developers (esp. in functional stuff) trying to use immer and they might not be well aware of the stuff we discussed.

Ok that's it. Bye thanks.

[2018-09-24 10:08] davidmal200 commented on #201
@mweststrate Also

I don't see in the link you provided where Redux states that tree can't be graph e.g. that two objects can be repeated in the tree.

[2018-09-24 12:36] mweststrate commented on #201
A tree is always a graph. But not all graphs are trees, like yours. As soon
as there are two paths leading to the same leaf, it is no longer a tree.
https://en.wikipedia.org/wiki/Tree_(graph_theory). The main reason that
normalization is an important concept when working with Redux, is to make
sure that the tree properties are preserved. As stated, you will have to
either make sure your filteredIt

[2018-09-24 13:41] davidmal200 commented on #201
@mweststrate I think we have bit muiscommunication.

_I understand requirement of immer that state must be unidirectional tree._

However, what I said it is **not a requirement in Redux** for state to be a tree such that same object can't appear twice for example. e.g. see here: https://stackoverflow.com/questions/43657675/redux-what-is-the-point-of-normalizing-the-data#. It maybe recommendation *

[2018-09-24 14:08] mweststrate commented on #201
I read the page as follows: the state must be a tree, that is why a lot of
data is duplicated in the examples. Since this is a bad thing, stuff should
be normalized. The normalization part is, as far as I can see the optional
part, (there are cases where non-normalized trees can be more convenient,
for example if compositional relationships are used).

The reducer model simply breaks when using a

[2018-09-24 20:02] oriSomething commented on #202
Wouldn't be better to add the ability of plugins to support whatever data structure you like instead of expanding support of `immer`?

[2018-09-27 13:12] kikill95 commented on #53
I've reproduced this issue in 1.7.1

[2018-09-27 13:47] mweststrate commented on #53
@kikill95 cool. Please open a new issue with reproduction. Responding to closed issues is generally pointless :).

[2018-09-27 13:52] justinmwarner opened #204 "Ability to partially freeze reducers."
Please specify:

* [x] Feature request: Ability to partially freeze reducers
  * [ ] I am willing to implement this myself
* [x] Issue: Trying to use redux-persist. They add on a _persist property and alter it directly, so the frozen object fails to update and fails. Making redux-persist not compatible with immer.
  * Version: latest
  * _SIMPLE_ Reproduction: I don't think a reproduction is too u

[2018-09-27 13:58] mweststrate commented on #204
I am not familiar with redux-persist, so I am not entirely getting the issue :-).

Sounds like the lib is mutating the objects where it is supposed not to? But if you the objects being frozen is a problem, you can disable it with `setAutoFreeze(false)` (or suggest that redux-persists uses weakMaps so that no secret modifications are needed :-))

[2018-09-27 14:50] justinmwarner commented on #204
redux-persist will save your redux store (or parts of it) to the local storage (other options exist). Then, when the user refreshes the page, it will hydrate the store with the saved portion in local storage.

To do the above, it adds a flag on the reducer with the version # and whether or not it's been hydrated.  At this point, obviously, it alters the state, which breaks frozen for immer.

I'm n

[2018-09-27 15:00] mweststrate commented on #204
Does disabling autoFreeze help?

Op do 27 sep. 2018 om 16:50 schreef Justin Warner <notifications@github.com

[2018-09-27 15:40] justinmwarner commented on #204
It would, but we don't want to disable autofreeze for the whole store.  When we enabled it, we found 20+ bugs, so it's extremely useful.  We only need persistence for a small section of it.

redux-persist has support for whitelist/blacklist to tell it which ones we care about.

[2018-09-27 16:05] mweststrate commented on #204
Object.freeze() is quite a generic api, either your object is frozen, or it
isn't, I don't think that more granularity is really achievable there

Op do 27 sep. 2018 om 17:40 schreef Justin Warner <notifications@github.com

[2018-09-28 17:02] scriby commented on #136
Just noticed you took care of this. Thanks!

[2018-09-28 19:56] scriby opened #205 "Upgraded to 1.7.2, typescript typedefs changes failing build"
* [x] Issue: Upgraded to 1.7.2, typescript typedefs changes failing build
  * Version: 1.7.2
  * _SIMPLE_ Reproduction:

Attempting to build Typescript code that looks like this doesn't work anymore:

[code]

This code built previously under 1.2.1, but does not build under 1.7.2 (only change is I changed `State` to `Draft<State>`). Typescript is complaining that "void" is not assignable to type Dr

[2018-09-28 21:17] scriby commented on #205
As an update to this, the old style type defs work better for my codebase:

[code]
The code doesn't really need to use the Draft state, so it's easier just to leave it like this. Not sure if you still consider these "valid" or not, but they still look ok to me.

[2018-10-03 15:33] aleclarson opened #208 "Patch for array.pop() replaces "length""
Let's assume `array = [ 0 ]`. Should `array.pop()` result in `{ op: "remove", path: [ "0" ] }` instead of `{ op: "replace", path: [ "length" ], value: 0 }`?

I guess Immer is already "breaking" from [the spec](https://tools.ietf.org/html/rfc6902) by making `path` an array and not `/foo/bar`, but you could argue replacing `length` isn't friendly to non-JS environments.

I assume the current behavio

[2018-10-03 17:10] yamsellem commented on #202
@oriSomething I've worked on a Javascript class encoding library lately, [carnaval](https://github.com/yamsellem/carnaval), it uses some concept of custom encoding, middlewares and providers; maybe it could help on this idea of 'expanding support'.

Basic usage is to encode a class into JSON, or decode JSON into a class, but there is some manual configuration which can be provided to handle specia

[2018-10-07 10:34] be5invis commented on #202
Maybe we could handle it in three types:

- Class provided shallow copy
- Class provided deep copy
- The class said that "properties copy + keeping prototype" is OK (POD-like)

[2018-10-11 14:14] lotz commented on #198
@mweststrate We have confirmed that the bug is fixed. Thanks!

[2018-10-11 18:20] mweststrate commented on #205
@scriby can you demonstrate this in a sandbox, because if I read your example correctly, your recipe returns `void`, not `S`, so that should work out fine?

[2018-10-12 20:56] arilotter opened #215 "Immer Draft TypeScript type clobbers Tuples"
* [x] Issue: Applying the immer `Draft` type to a Tuple type (or anything with a tuple type in it) clobbers the tuple, turning it into an array.
  * Version: 1.7.2
  * _SIMPLE_ Reproduction:
[code]
or, try it on typescript sandbox
https://goo.gl/zxs3C8
 * Expected behavior: I can assign a tuple of type `Draft<tup>` to a variable of type `tup`
  * Observed behavior: ```Type 'DraftArray<number>' is

[2018-10-12 22:41] aleclarson commented on #215
Error confirmed on `immer v1.7.2` and `typescript v3.1.0`

Is there a way for `Draft<T>` to distinguish a tuple from an array?

[2018-10-12 23:06] aleclarson commented on #215
[This snippet](https://github.com/ksxnodemodules/typescript-tuple/blob/master/lib/utils.ts#L3-L16) looks promising.

[2018-10-12 23:16] aleclarson commented on #215
This fixes it for me:
[code]

I'll open a pull request. :)

[2018-10-13 12:32] asvetliakov opened #218 "Feature request: ability to make state changes in patchListener"
* [x] Feature request: Ability to make state changes based on produced ```patches```
  * [ ] I am willing to implement this myself

It would be great if there will be possible to make final changes to the state tree based on patches produced by producer. One great example is the implementing versioning of the objects in the state. Something like ```patchListener(patches, inversePatches, result)```

[2018-10-13 13:02] aleclarson commented on #205
@scriby What version of TypeScript are you using?

Repro: https://codesandbox.io/s/x7y885rlww (I don't know which TS version is in CodeSandbox)

My fix passes [here](https://goo.gl/t28pcV), but I don't know which TS version is used there.

It also passes locally using `typescript v3.1.0`.

[2018-10-13 13:02] aleclarson commented on #205
The problem was that the generic `S` was being referred from the return value of the recipe function.

[2018-10-13 13:16] aleclarson commented on #218
What is `result` in your example? The immutable object produced by the given `patches` array?

What kind of changes do you have in mind?

[2018-10-13 13:47] asvetliakov commented on #218
@aleclarson

Yes, correct, after producing a fresh copies of changed structures, but before final freezing in dev mode (although freezing is not the problem since it can be disabled, but nice to have).

Versioning. Storing previous values in app offline mode. Assigning custom cache keys for implementing custom update-checking strategy. Something like it:

[code]

[2018-10-13 13:58] aleclarson commented on #218
Oh, you want to pass it into `produce`. I thought you wanted to hook into Immer to call the same function for every object mutated by Immer.

This should help you:
[code]

I'd say this probably belongs in userland as its own package.

[2018-10-13 21:55] asvetliakov commented on #218
Forgot you can curry and stole arguments. Thanks, this works.

[2018-10-13 21:55] #218 closed

[2018-10-15 07:04] scriby commented on #205
Since filing this issue I've noticed the TS version at work doesn't (or doesn't always?) treat void and undefined as the same type. We're on a little older version, so that might be the cause. I'll go ahead and close for now until we get on a more recent version.

[2018-10-15 07:04] #205 closed

[2018-10-19 21:10] mmakrzem opened #223 "TypeScript compiling error"
Please specify:

(Not filling out _all fields_ of this template will probably result in your issue being closed without further notice. If you are not willing fill it in, why would someone else spent his time fixing it?)

* [ ] Feature request: ______
  * [ ] I am willing to implement this myself
* [ X] Issue: _______
  * Version:

immer: v1.7.2
TypeScript: v3.1.3

  * _SIMPLE_ Reproduction:
 I ha

[2018-10-19 21:32] pioz opened #224 "TypeError: Cannot convert undefined or null to object only on production"
Please specify:

(Not filling out _all fields_ of this template will probably result in your issue being closed without further notice. If you are not willing fill it in, why would someone else spent his time fixing it?)

* [ ] Feature request: ______
  * [ ] I am willing to implement this myself
* [*] Issue:
I've a React Component with this state and a function to update the state like this:
[cod

[2018-10-19 21:35] aleclarson commented on #223
I assume you meant:
[code]

Please fix the formatting of your post. 🍰

And fork [this sandbox](https://codesandbox.io/s/react-ts) and paste your reproduction in there. :)

[2018-10-20 16:46] migueloller opened #225 "Would it be possible to make produce's recursive noop optional?"
This is a **feature request** and I'm more than **happy to implement it** myself if accepted.

### Background
After [v1.3.0](https://github.com/mweststrate/immer/blob/09d69ae7764fbb34eb0069dccfb1c8d9c2c360e6/changelog.md#130), recursive `produce` calls result in a no-op. @mweststrate explained the pros and cons of this behavior [here](https://github.com/mweststrate/immer/issues/100#issuecomment-37

[2018-10-20 17:51] aleclarson commented on #225
If you're using `produce` inside a `produce` call, you don't need purity. The outer `produce` call guarantees it. Am I missing something?

[2018-10-20 17:55] migueloller commented on #225
@aleclarson, we still want to keep the reducers exported from files pure. This is actually recommended [in the README](https://github.com/mweststrate/immer/tree/09d69ae7764fbb34eb0069dccfb1c8d9c2c360e6#reducer-example) at the end of the Redux example.

The issue happens when we try to wrap `counter` with `redux-undo` like this:

[code]

`undoable` assumes purity, but `produce` will only "purify" i

[2018-10-20 18:00] aleclarson commented on #225
Thoughts on a `produce.pure` function that guarantees purity no matter where it's called from?

Just know that you take a performance hit (the effect depends on the context). If you're passing the same draft to 3 nested producers, the draft will be re-created 3 extra times. I assume you're aware of that, though.

[2018-10-20 18:00] migueloller commented on #225
Also, the main motivation for this whole thing is that we wanted to batch `produce` calls. We dispatch a very large amount of actions, which means that each reducer call will call `produce`. If we batch all the actions and fire them all at once then we can avoid multiple produce calls. We want to do this:

[code]

As you can see, if we put `enableBatching` outside like this `undoable(enableBatchin

[2018-10-20 18:01] migueloller commented on #225
@aleclarson, I like the `produce.pure` idea! And yes, but for our case, if we implement batching it reduces the number of `produce` calls from `O(n)` to `O(m)` where `n` is the number of actions batches and `m` is the depth of reducer composition, which I think will be negligible in most applications.

[2018-10-20 21:33] aleclarson commented on #225
[code]

[2018-10-20 21:45] migueloller commented on #225
// vs
import {produce} from 'immer'
produce.pure()

I personally prefer `import { pure as produce } from 'immer'`. Which one do you like best?

[2018-10-20 21:51] aleclarson commented on #225
`producePure` is probably the most correct.

[2018-10-20 22:04] migueloller commented on #225
@aleclarson, that would work too! Would you want me to submit a PR?

[2018-10-20 22:32] aleclarson commented on #225
Yeah, give it a go. I've no need for this feature, currently.

[2018-10-20 22:49] aleclarson commented on #224
Please [fork this](https://codesandbox.io/s/new) and copy as little of your code as possible to reproduce the bug, if you have the time. 👍

[2018-10-22 02:21] migueloller commented on #225
Ahh, indeed [it seems](https://github.com/mweststrate/immer/blob/09d69ae7764fbb34eb0069dccfb1c8d9c2c360e6/src/proxy.js#L66) that the proxies are kept by key instead of backed value.

This seems to be a bug and could be fixed by using a `WeakMap` where the key is the actual object?

[2018-10-22 06:53] vikas-parashar opened #226 "Use es5 implementation in browsers where Proxy is supported but Reflect is not"
* [ ] Feature request: ______
  * [x] I am willing to implement this myself
* [x] Issue: Browsers in which Proxy is not supported ES5 implementation is used but in `firefox 41` `Proxy` is supported but `Reflect` is not so it default implementation with Proxies is used which throws error `Reflect is not defined`
  * Version: 1.7.1
  * _SIMPLE_ Reproduction: codesandbox itself doesn't work in `firef

[2018-10-22 08:38] pioz commented on #224
I can't reproduce on codesandbox.io... But I don't know if the code in codesandbox.io is running in node production environment.

[2018-10-22 10:31] mweststrate commented on #224
@pioz, since your stack trace contains `setState`, it lookls like that the producer is already finished and your exception is not coming from the `produce`, but from the `setState`, meaning that there is some assumption on the internal data structure that is not matched. So it looks unrelated to immer to me, but if it is, please provide a reproduction as @aleclarson indicated.

[2018-10-22 10:51] aleclarson commented on #225
You want `produce` to track which objects have been proxied to ensure two proxies are never created for the same object? Seems reasonable.

`Map` should be used, because it can be shimmed in ES5.

[2018-10-22 10:51] mweststrate commented on #226
Looks like a bug indeed!

[2018-10-22 10:52] aleclarson commented on #225
That's a nice `producePure` implementation. It's so tiny, I don't see why it shouldn't be in Immer by default.

[2018-10-22 11:01] mweststrate commented on #225
@migueloller this issue is becoming hard to follow, with several ideas being floated and retracted. I suggest to:

1. dedicate this issue to introducing `producePure`. Which looks like a good idea, although the immediate need seems to be gone, correct?
2. dedicate a separate issue to discuss the reference confusion. I couldn't really follow along :-)
3. your `original` solution I couldn't really f

[2018-10-22 11:06] aleclarson commented on #225
Oh, that's a good point. Looks like `producePure` is harder than just combining `original` with `produce`. You'll need to proxy the draft copy.

[2018-10-22 11:07] mweststrate commented on #225
@migueloller
Argh, wrote a reply, but github seems really unreliable at the moment. So, shortened summary:

1. I don't get the `original` implementation entirely, as it discards any changes already made to the draft when invoking the subproducer?
2. Can you open a separate issue for the reference question in your last comment, I don't get why that condition should hold. If in the draft either of t

[2018-10-22 11:08] pioz commented on #224
With a fresh react app with `create-react-app` all works fine.
But in my project I use browserify with the command: `browserifyinc -t [ babelify --presets [@babel/env @babel/react] --plugins [@babel/plugin-proposal-class-properties] ]`. May be this can cause the issue?

[2018-10-22 11:47] aleclarson commented on #225
https://codesandbox.io/s/xj8rvlxo34

[2018-10-22 12:02] pioz commented on #224
Here a Rails repo to reproduce the issue: https://github.com/pioz/immer-debug-issues-224
The instructions in the `README.md`

[2018-10-22 12:37] mweststrate commented on #225
@aleclarson i am not sure whether your example is a good example, would rather have expected:

[code]

Your example just starts another producer, and that draft is not the same, which is looks consistent and any other behavior would be more surprising? Take for example the following:

[code]

[2018-10-22 13:00] aleclarson commented on #225
Yes, but when the inner `produce` call is `producePure`, the `draft` loses strict equality with `draft2` (which seems to be the problem).

[2018-10-22 13:59] benjamingr commented on #202
+1 for plugins

[2018-10-22 14:32] migueloller commented on #225
@aleclarson,

Yes!

That's fair. Once the issue with references is fixed, it should be pretty straightforward to add `producePure`.

@mweststrate,

That seems to be right! It seems that in this case it works because when composing reducers, the slice of the state that is passed wouldn't have been modified so `original(state.slice)` will be fine to pass down. If this slice of state had been modifie

[2018-10-22 14:44] mweststrate commented on #225
@migueloller ehh no. What is `copy`, where does it come from and why would `copy(base).x` be 2? Do you mean `copy(draft)` ?

[2018-10-22 14:46] migueloller commented on #225
@mweststrate, yes I mean `copy(draft)`. I've updated the comment to reflect that! 😅

And for `copy`, it's like `original` but instead gives the copy tracked by the proxy if the draft has been modified. Just an idea.

[2018-10-22 15:03] mweststrate commented on #225
How is that different than passing just the `draft` @migueloller? Or you mean a prematurely finalized draft?

I have the impression that I kinda lost track on the actual issue, but I have the impression that the root problem is that you use `produce` outside the `undoable`? Which makes sense that it doesn't match as I assume the last one either wants to diff with the 'final' state, or keeps track

[2018-10-22 15:05] aleclarson commented on #225
Isn't this only safe in Redux when producers avoid deriving from state returned by other producers?

[code]

In the above example, the `reduceBar` function must not access `draft.foo` or it will be using an outdated value.

This all assumes that `draft` has its base state re-used for `reduceFoo` and `reduceBar`, instead of re-using the in-progress copy that's been mutated by the outer `produce` ca

[2018-10-22 16:44] migueloller commented on #225
@mweststrate,

If the draft is passed in, `produce` will be a no-op, so yes, one could call it a prematurely finalized draft.

@aleclarson,

That is correct.

[2018-10-22 16:47] migueloller commented on #225
@mweststrate,

Unfortunately, pushing the producers inward greatly slows down our application since `produce` calls are expensive. We batch our actions, thousands per frame, and if we call our reducer 1,000 times, that's 1,000 produce calls.

For this reason, we want to do this `produce(enableBatching(reducer), initialState)`.

If we did `enableBatching(produce(reducer))` then it's the same as pit

[2018-10-22 16:58] mweststrate commented on #224
Please isolate the problem first, it shouldn't need to take a Rails project
to reproduce this issue if it is on the immer side of things

Op ma 22 okt. 2018 om 14:02 schreef Enrico <notifications@github.com>:

[2018-10-22 18:16] pioz commented on #224
I know, but I have no idea how to reproduce the issue in a simple react app. Sorry. Anyway the problem is isolated in the fresh rails app that I have shared...

[2018-10-22 19:10] migueloller commented on #225
It does! I just have to make sure I do this in my root reducer:

[code]

And in `entities.js`, `export default undoable(produce(enableBatching(reducer), initialState))`.

The reason I changed the topic of this issue to the referential integrity stuff is because I would like to do this:

[code]

[2018-10-23 06:11] skyblue opened #228 "Ask a question"
Please specify:

(Not filling out _all fields_ of this template will probably result in your issue being closed without further notice. If you are not willing fill it in, why would someone else spent his time fixing it?)

* [ ] Feature request: ______
  * [ ] I am willing to implement this myself
* [x] Issue: _______
  * Version: ____
  * _SIMPLE_ Reproduction: ____ (tip: fork this sandbox: https:

[2018-10-23 06:59] pioz commented on #224
@mweststrate if you want I can prepare a docker container... can this help you?

[2018-10-23 07:33] mweststrate commented on #224
@pioz so far it feels as a general JavaScript error, totally unrelated to immer. (The stacktrace is from `raven.js`, which is the backing library of sentry.io, are you using that in your production builds only for example)? Did you already try to break the debugger on that exception and check what variable is unexpectedly `undefined` or `null`?

Also, try to break out your set state call, like thi

[2018-10-23 13:49] pioz commented on #224
I've just try to debug in this way and the `console.log` at the end of the `setCurrentCart` function never get reached. The error is triggered on `draft.products[j]`. Im pretty sure about this.

[2018-10-23 14:23] aleclarson commented on #224
I tried to reproduce the above snippet in CodeSandbox. [See here](https://codesandbox.io/s/k98r8x50k5)

Just press the Foo button and open the console.

[2018-10-23 14:24] mweststrate commented on #224
Ok, in that case can you grab the `prevState`? Together with the producer
that should reproduce your bug.

Op di 23 okt. 2018 om 15:52 schreef Enrico <notifications@github.com>:

[2018-10-23 14:46] mweststrate commented on #224
Which browser? Seems to work fine for me

Op di 23 okt. 2018 om 16:25 schreef Alec Larson <notifications@github.com>:

[2018-10-23 15:12] aleclarson commented on #224
@mweststrate Yes, it works fine for me, too. Need a better repro.

[2018-10-24 10:19] mweststrate commented on #224
@pioz p.s note that you should probably not use `this.state` in your producer, but `draft` to read the current state, state updates are asynchronous in React, so it means that you might be looking at an old or inconsistent state. For example two setState calls might run quickly after each other before a rendering happens, that means that `this.state` still contains state version 0 when the second

[2018-10-24 11:05] aleclarson commented on #228
You're wondering why setting `nextState[1].todo` outside the `produce` callback does nothing?

Everything outside the `produce` callback is immutable.

[2018-10-24 11:44] aleclarson commented on #223
Thanks for fixing the formatting!

You shouldn't be using `DraftObject` directly, especially not with an array type. Use `Draft` instead.

[2018-10-24 11:44] #223 closed

[2018-10-24 12:10] #226 closed

[2018-10-24 16:22] aleclarson opened #229 "Should produce always freeze its return value?"
Which guarantee is more important?
- `produce` always freezes objects it returns
- `produce` is a no-op when the producer is a no-op

Have a look at the following behavior: (https://codesandbox.io/s/1o8x91w5l4)

[code]

Which of these cases have unexpected behavior?

**Case 1** seems wrong if you believe `produce` should always freeze objects before returning them.

**Case 2, 3** seem wrong. Why s

[2018-10-24 17:41] aleclarson commented on #229
If you're getting this by email, I've made changes since.

[2018-10-24 18:31] mweststrate commented on #229
Some thoughts

The general idea is that freezing is a favor we offer, but not a guarantee

The second idea is that we don't do a full freeze, as that is super expensive. We just freeze when we are creating the new objects. In theory, if all state updates are done with producers, that means that all state will be frozen, but that state that is not processed, is also not frozen (there are actually s

[2018-10-24 18:45] aleclarson commented on #229
I agree about keeping `produce` side-effect free. :D

Why does case 3 not behave identically to case 4?

[2018-10-24 18:50] aleclarson commented on #229
Here's a sandbox with all the cases: https://codesandbox.io/s/1o8x91w5l4

[2018-10-24 18:57] mweststrate commented on #229
Good question, checking a second time, I think both 4 and 5 are actually bugs and should not produce a frozen state, as the freeze objects not created by immer.

On the other hand, one could argue that freezing at least the root always will help people to find bugs, even though that effectively creates a side effect. But that is something that can easily be done in user land, for example by callin

[2018-10-24 19:13] aleclarson commented on #229
Yeah, those are the bugs we're looking for.

I agree that Immer's current behavior is the "right way".

[2018-10-25 02:18] aleclarson commented on #229
It seems like cases 7 & 8 should never return `true`.

[2018-10-25 10:01] pioz commented on #224
I've found a solution: Rails Uglifier (https://github.com/lautis/uglifier) causes the issue, BUT if you pass the option `harmony: true` to Uglifier, all works good also in production with Rails!

[2018-10-25 10:01] #224 closed

[2018-10-25 11:48] aleclarson commented on #229
Another one.

[code]

I'm going to add test cases for all of these.

[2018-10-25 13:09] aleclarson opened #230 "Nested drafts inside new objects"
This scenario seems like it's handled wrong by Immer.

Imagine creating a new object in your producer and adding a draft object as a property.

If your new object is ever frozen before your producer returns, you end up with the draft object never being replaced with the original. And worse, you now have a revoked proxy instead of the object you wanted.

I think Immer should always clone frozen obj

[2018-10-25 13:19] mweststrate commented on #230
If you are deliberately force freezing something (why would you), that is just a sign that you want to have literally that thing. So if you really want to forcefully return a draft, then you'll have it, despite it begin useless. I think this use case is no different then:

[code]

The goal is to behave good if you have good intentions. Freezing a draft looks to me like deliberately trying to count

[2018-10-25 13:29] aleclarson commented on #230
There's also a chance that a user wants to `deepFreeze` some new object that happens to contain a draft.

[2018-10-25 13:31] aleclarson commented on #230
What if we provide a `freeze` function that prevents draft leaks?

[2018-10-25 14:08] aleclarson commented on #230
*Note:* To email users, I made edits to past comments.

@mweststrate So you're asking _every producer_ to use `original` before passing a draft object to _any function_ whose return value is ever (1) _frozen_ and (2) added to the draft / replaces the draft. Is this an accurate depiction?

[2018-10-27 20:14] aleclarson opened #233 "Dates and RegExps are neither primitives nor plain objects"
`Date` and `RegExp` objects cannot be passed to `produce` without an error being thrown.

https://codesandbox.io/s/rrz9lq7pwp

[2018-10-27 20:28] aleclarson commented on #233
Boxed primitives also cause a throw.

[2018-10-28 11:45] aleclarson commented on #228
This is actually **unintended.** Objects created inside a producer should _never_ be auto-frozen.

Fixed by #231

[2018-10-28 11:50] aleclarson commented on #228
Oh wait, I misread your code. I thought you were mutating `nextState[2]` outside the producer, not `nextState[1]`!

You did `draft[1].done = true` in the producer, which causes `nextState[1] !== state[1]` and `Object.isFrozen(nextState[1])` **as is intended.** Object copies created by Immer are auto-frozen by default in development. The only way to disable this is with `setAutoFreeze(false)`.

Thu

[2018-10-28 11:53] #228 closed

[2018-10-28 14:11] aleclarson opened #234 "Use yarn PnP for CI"
Not sure if [Yarn Plug'n'Play](https://github.com/arcanis/rfcs/blob/6fc13d52f43eff45b7b46b707f3115cc63d0ea5f/accepted/0000-plug-an-play.md) is ready to use, or not. Can we try it on Travis yet?

[2018-10-29 03:40] brucou opened #235 "not an issue : immer does not work with native js types right?"
As under the hood, immer uses proxies, I was wondering if it was working with native js types (say number).

[2018-10-29 14:51] aleclarson commented on #235
Immer only proxies plain objects and arrays.

The following snippet is where that logic lives:

https://github.com/mweststrate/immer/blob/004bb7f4471f3dae3c93ba5f06608de3be06e4e3/src/immer.js#L52-L68

[2018-10-29 14:53] aleclarson commented on #235
Here are the unit tests for using `produce` with a primitive base state.

https://github.com/mweststrate/immer/blob/004bb7f4471f3dae3c93ba5f06608de3be06e4e3/__tests__/base.js#L1149-L1171

[2018-10-29 14:54] #235 closed

[2018-10-29 14:58] aleclarson commented on #235
*Side note:* There are some minor bugs when calling `produce` with a base state of certain types. #233

[2018-10-29 15:01] aleclarson commented on #233
We should treat non-plain objects as primitives (eg: avoid creating a draft).

[2018-10-29 17:59] brucou commented on #235
That 's the best answer I ever had in a long time. Thanks

[2018-11-06 08:58] DanielRuf commented on #234
Makes no sense because then it should be also used for normal users. Also this has different behaviors depending on the npm client and it requires changes.

CI should run like the normal builds.

[2018-11-06 09:00] DanielRuf opened #239 "move to org"
I hereby propose to move this repo to an org account to ease maintenance, create multiple teams with permissions, increase the truck factor and improve the overall processes.

[2018-11-07 10:11] mgenware opened #242 "setState: partial state vs full state update"
Thanks for this amazing library. I got one question when reading through the docs, the [React setState example](https://github.com/mweststrate/immer#reactsetstate-example) section says:
[code]

I think there is one subtle difference here, the classic example always returns an object with one property, i.e. `user`. But the producer example would return all state properties as demonstrated below:
[c

[2018-11-07 13:32] aleclarson commented on #242
This question is specific to React, so I would try asking over there, if @mweststrate doesn't know.

[2018-11-07 14:42] mweststrate commented on #242
I think it doesn't matter, a partial `setState` is just merged into the current full state, and depending on your local optimizations from that point on shallow comparison might happen. So as long as you use curried producers the behavior will be the same as far as I can see.

[2018-11-07 20:56] WhiteAbeLincoln opened #243 "Draft type clobbers nested object types in typescript 3.1.3"
* [X] Issue:
  * Version: 1.7.4
  * _SIMPLE_ Reproduction: [typescript playground](https://www.typescriptlang.org/play/#src=%2F%2F%20Copied%20directly%20from%20immer.d.ts%0D%0A%2F**%20Object%20types%20that%20should%20never%20be%20mapped%20*%2F%0D%0Atype%20AtomicObject%20%3D%0D%0A%20%20%20%20%7C%20Function%0D%0A%20%20%20%20%7C%20Map%3Cany%2C%20any%3E%0D%0A%20%20%20%20%7C%20WeakMap%3Cany%2C%20any%3E

[2018-11-07 21:03] WhiteAbeLincoln commented on #243
If the conditional types are removed from DraftObject it appears to work ([typescript playground](https://www.typescriptlang.org/play/#src=type%20DraftObject%3CT%3E%20%3D%20%7B-readonly%20%5BP%20in%20keyof%20T%5D%3A%20Draft%3CT%5BP%5D%3E%7D%0D%0Atype%20Draft%3CT%3E%20%3D%20T%20extends%20object%20%3F%20DraftObject%3CT%3E%20%3A%20T%0D%0Atype%20T0%20%3D%20Draft%3C%7B%20x%3A%20%7B%20y%3A%20string%20%7

[2018-11-07 21:09] aleclarson commented on #243
Whoops! Didn't think to test interfaces. Bug confirmed! 👍

Looking into a fix...

[2018-11-07 21:10] WhiteAbeLincoln commented on #243
If we extract the mapped type into its own type, then the issue doesn't occur ([typescript playground](https://www.typescriptlang.org/play/#src=type%20AtomicObject%20%3D%0D%0A%20%20%7C%20Function%0D%0A%20%20%7C%20Map%3Cany%2C%20any%3E%0D%0A%20%20%7C%20WeakMap%3Cany%2C%20any%3E%0D%0A%20%20%7C%20Set%3Cany%3E%0D%0A%20%20%7C%20WeakSet%3Cany%3E%0D%0A%20%20%7C%20Promise%3Cany%3E%0D%0A%20%20%7C%20Date%0D

[2018-11-07 21:11] WhiteAbeLincoln commented on #243
Its probably an upstream problem with typescript, but I'm not sure they'll fix it since it deals with type recursion and they don't really support that.

Extracting the mapped type out does seem to work, and it wouldn't break anything, so its probably a good fix

[2018-11-07 21:12] aleclarson commented on #243
I need to figure out how to trigger a compiler error when specificity is _lost_ (ie: expected an object type, got any).

[2018-11-07 21:14] WhiteAbeLincoln commented on #243
Yeah, I know you can use [dtslint](https://github.com/Microsoft/dtslint) to test types, but I'm not sure if it tests them exactly or just if they're assignable

[2018-11-07 21:19] aleclarson commented on #243
This works! 🎉
[code]

[2018-11-07 22:07] aleclarson commented on #243
I will have #244 merged in a bit.

[2018-11-08 03:48] #242 closed

[2018-11-09 06:21] kduy969 opened #245 "[Question][Not issue] Does integrate with immer make redux faster ?"
I know using "produce" will not change old data in state (only update modified properties) , maybe this will help redux detect the change more fast and accurate,  can redux take advantage of this?

[2018-11-09 10:34] mweststrate commented on #245
No, because when using plain reducers properly you should be doing the same; recycling unchanged data.

The sole exception where immer might be beneficial performance wise is where you assign the same value(s) to the same propertie(s), which would'nt create a new object with Immer, but it would when writing reducers the idiomatic way.

[2018-11-09 10:35] #229 closed

[2018-11-09 10:54] mweststrate opened #246 "Idea: Ignore return value of producer"
Currently the return value (if any) matters a lot, to be able to replace the current state. So there are quite some rules

1. Return `undefined` (or no `return` at all), will assume the `draft` is the state to be returned
2. Return any value (except `draft` or `undefined`), will replace the state with the returned value

This cause a few tricky cases:
* Because of 1, we cannot replace the current

[2018-11-09 13:06] kduy969 commented on #245
Thanks for the answer.

[2018-11-09 13:06] #245 closed

[2018-11-09 15:48] aleclarson opened #247 "Use terser instead of uglify-es"
@gaearon has been tweeting about `uglify-es` causing issues for CRA users. Considering `uglify-es` is unmaintained, we should use [terser](https://www.npmjs.com/package/terser) instead (a fork of `uglify-es` that is actively maintained).

[2018-11-09 16:08] mweststrate commented on #247
Agreed

Op vr 9 nov. 2018 om 16:48 schreef Alec Larson <notifications@github.com>:

[2018-11-09 16:12] aleclarson commented on #246
IMO: Warn when `draft` is mutated but _not_ returned. Then whenever a producer returns `undefined`, replace the `draft` with `undefined`.

[2018-11-09 16:17] aleclarson commented on #246
The `replace` function doesn't solve the second issue, which is the need for another import. I should be able to create producers in one module without importing `immer`, then import those producers in another immer-aware module that wraps them and re-exports.

[2018-11-09 16:19] aleclarson commented on #239
Thoughts on this, @mweststrate?

[2018-11-09 16:20] aleclarson commented on #230
ping @mweststrate

[2018-11-09 16:21] aleclarson commented on #247
I'm not using the minified version of Immer, so I cannot set aside time to do this. 😢

[2018-11-09 16:32] aleclarson commented on #246
I really like how the "return the draft" requirement discourages footgun one-liners:

[code]

[2018-11-09 17:07] aleclarson opened #248 "Outsource the Object.assign polyfill"
It hurts our test coverage. 😭

https://www.npmjs.com/package/object-assign

Or even better. Let the user supply their own polyfills. Same for the `Symbol` polyfill.

[2018-11-09 17:14] aleclarson commented on #243
Quick update: I'll try to find time to fix all the errors found by #244 sometime soon

[2018-11-10 02:17] aleclarson commented on #234
Not sure what you mean. Isn't Yarn PnP supposed to guarantee same behavior as `node_modules`?

[2018-11-10 02:18] aleclarson commented on #234
Can you elaborate on this?

[2018-11-10 11:13] DanielRuf commented on #234
Well you can then not use `node` but have to use `yarn` or `yarn node` and npm users can not use it (in general) as Yarn has a different approach with `require.resolve` and so on.

[2018-11-10 20:18] sam-rad opened #251 "immer's prior art?"
Was https://github.com/arximboldi/immer any inspiration to `immer.js` or they are orthogonal?

[2018-11-13 21:32] dwelle commented on #247
@mweststrate what's [this line](https://github.com/mweststrate/immer/blob/899b53f519b304652461348c06ea0a5e210cf2e7/rollup.config.js#L54) about? The `rollup-plugin-uglify` doesn't take any 2nd arg.

[2018-11-15 18:09] billdwhite opened #252 "Does not work with Angular+NGRX+AOT"
Please specify:

(Not filling out _all fields_ of this template will probably result in your issue being closed without further notice. If you are not willing fill it in, why would someone else spent his time fixing it?)

* [x ] Issue: When used with Angular 7 with AOT turned on, this loads with no states; regular
  * SIMPLE Reproduction:

https://github.com/billdwhite/ngrx-immer/tree/ngrx-immer

[2018-11-15 19:44] billdwhite commented on #252
https://github.com/timdeschryver/ngrx-immer/issues/1

Turns out that you have to set up the reducers to return a function, not a const.

[2018-11-15 19:44] #252 closed

[2018-11-19 09:55] mweststrate commented on #251
Nope, only discovered it afterwards, so the naming is purely coincidental :) Some prior art is listed in the readme.

[2018-11-19 09:55] #251 closed

[2018-11-19 09:57] mweststrate commented on #248
For reference, this issue is referring to: https://github.com/mweststrate/immer/blob/8e7b371edd19afde0f2012d493873fed09a18ac9/src/common.js#L71-L80

Generally I tend to agree, but since this polyfill is so small, and it severely simplifies setup, I would argue to leave it in here :)

[2018-11-19 09:58] mweststrate commented on #247
@dwelle no clue, probably copied it from somewhere else, but it seems to parameterize the minifier that should be used :)

[2018-11-19 10:01] mweststrate commented on #246
@aleclarson do you mean in the current, or new situation? The proposal here is to never care about what is returned, so the above could also be written as `() => draft.a = 2`, or, with the more stricter proposal _needs_ to be written as `() => { draft.a = 2 }` / `() => void (draft.a = 2)`

[2018-11-19 10:09] mweststrate commented on #230
I think that introducing a freeze utility + the fact that immer freezes itself will be highly confusing. I would rather propose a more aggressive setting like `setAutoFreeze("everything")`, which is more expensive, but always recursively freezes stuff

I didn't entirely get the last comment, about `original` usage. But still the pattern of freezing something that contains drafts doesn't make any s

[2018-11-19 10:19] mweststrate commented on #225
Closing as there is a workable solution

[2018-11-19 10:19] #225 closed

[2018-11-19 11:30] albertogasparin commented on #246
I've also being bitten a couple of times by:
[code]
If you want to replace a state why not call produce with the new state
[code]
As the function is kind of superfluous. If you do so, you can go with always ignoring the value returned by the function:
[code]

[2018-11-19 13:43] aleclarson commented on #248
If you're using Immer in an environment without `Object.assign`, it's very likely you're using a polyfill anyway (for other libraries).

[2018-11-19 13:47] aleclarson commented on #246
@albertogasparin There's no point in using `produce` in your proposed `produce(currState, nextState)`. Just do `currState = nextState` when you know the next state already.

---

@mweststrate My idea is a counter-proposal. WDYT?

[2018-11-19 14:12] aleclarson commented on #230
Idk, it's not hard to learn that draft mutations in `produce` create **shallow-frozen** copies, and any objects **created in the producer** must be frozen manually (using the `freeze` utility to avoid leaking drafts and to take advantage of `setAutoFreeze`).

If that really confuses people, they can use `setAutoFreeze('deep')` or avoid **deeply**-freezing objects that _may_ contain a draft (which

[2018-11-19 18:38] aleclarson commented on #248
At the very least, we should depend on `object-assign` and use Rollup to insert it into `immer`'s bundle.

[2018-11-20 21:02] migueloller commented on #225
@mweststrate, it would be nice to be able to do this without having to use `original`. Nevertheless, as this issue got a bit all over the place, I'll open a new one once I have some time to get a minimal repro and propose a better solution.

[2018-11-22 18:59] aleclarson opened #254 "[RFC] Export a "produce" factory"
* [x] Feature request: Export a `new Immer(options)` function
  * [x] I am willing to implement this myself

## Details

The `Immer` constructor lets you create a `produce` function with custom behavior and/or hooks.

- Promotes friendly interop between libraries using Immer
- Opens up space for niche library-specific configuration

[code]

As you can see, there's plenty of room for more configura

[2018-11-22 20:05] aleclarson commented on #246
My proposal is the opposite: "The return value is always used"

I think explicit returns are the easiest to reason about. And no need for a `replace` function.

[2018-11-23 08:15] albertogasparin commented on #246
@aleclarson How do you avoid erroneous returns? As you pointed out, even if we say that the returned value is used as new state, arrow function still makes it very error prone:

[code]

I like more the main proposal (ignoring the return), which will let immer care only about the changes made to `draft`.

@mweststrate Besides I don't understand why would someone to use immer to replace the state wi

[2018-11-23 13:45] aleclarson commented on #246
Yes, producers may use conditional logic to determine if no changes, some changes, or a replacement is appropriate.

---

Is optimizing for one-liner producers really worth it? Are people using one-liners more often than they are replacing the base state? I'm really not a fan of adding a `replace` function. Maybe there's a better way..

[2018-11-26 20:36] aleclarson commented on #247
We could stop bundling Immer altogether.

Bundling is the job of the application, not the library.

Web apps can use https://packd.now.sh/immer@1.8.0 or something like Webpack.

Node apps can use something like https://github.com/zeit/ncc

[2018-11-26 20:37] aleclarson commented on #254
ping @mweststrate ICYMI

[2018-11-26 22:16] aleclarson commented on #100
@mweststrate You never stated which option you went with. Looks like you went with option 3, which has a notable side effect. Developers should _never_ use `try..catch` within a producer if they expect to rollback a nested producer by throwing. Doing that will not actually rollback any changes since the nested producer is using its parent's draft.

I think the correct solution is to reuse the draf

[2018-11-28 18:30] rymohr commented on #224
We just got bit by this also. Worked fine in development but broke in production when uglifier was enabled.

[code]

It could be totally unrelated, but I think it's worth noting that we didn't have this issue until a recent upgrade to webpack 4 / babel 7.

[2018-11-28 18:40] rymohr commented on #224
Sounds like the babel upgrade is likely the culprit:

![image](https://user-images.githubusercontent.com/730211/49173948-2bbe6580-f2e9-11e8-922e-1603ffb5e0fd.png)

https://babeljs.io/docs/en/babel-preset-env#forcealltransforms

[2018-11-30 04:53] prithvi16 commented on #247
@mweststrate are there any contributing guidelines or local development setup instructions? I looked for them in README and wiki.

[2018-11-30 10:33] mweststrate commented on #247
Bundling is pretty essential for UMD builds, for other builds it can be left out indeed

@prithvi16 no, no clear guidelines atm :), setup is pretty straight forward, make sure to use `yarn`  and that your IDE respects prettier, and that should be it. Discuss large changes upfront in an issue to avoid wasting effort

[2018-11-30 10:34] mweststrate commented on #254
@aleclarson I think that is a nice feature!

[2018-11-30 10:45] mweststrate commented on #230
I think #254 could introduces the possibility of a deep freeze. Still don't see much merit in it, as there are packages out there that take care of deep freezing in general, so just use using something like `nextState = deepFreeze(producer(state, fn))` should be fine imho, or it could be take care of by the hooks proposed earlier.

Freezing itself is not the goal of this package, but just a debug

[2018-11-30 13:05] aleclarson commented on #247
@mweststrate There's https://unpkg.com/ for UMD bundles.

[2018-11-30 15:12] mweststrate commented on #247
unpkg is a CDN, not a bundler, so if you put an UMD bundle in your package,
then you can CDN UMD builds. Otherwise you have useless require / import
statements in your browser

[2018-11-30 17:12] aleclarson commented on #247
Just realized Packd creates a UMD bundle, so I think we can stop using Rollup locally. :)

[2018-11-30 17:16] aleclarson commented on #247
Note: https://bundle.run should be used over https://packd.now.sh

[2018-11-30 19:54] aleclarson commented on #230
Closing this until it becomes an issue for me.

[2018-11-30 19:54] #230 closed

[2018-12-03 02:40] suitedjimster opened #260 "Array values of produced Object are not frozen? Limitation or bug?"
* [ ] Issue: Passing an array of objects, does not seem to deep freeze deep arrays.
  * Version: 1.8.0
  * _SIMPLE_ Reproduction: https://codesandbox.io/s/oqnrqlorj9
  * Expected behavior: All deep children object including arrays would be frozen.
  * Actual behavior:  Arrays inside an arrays of objects are not frozen and are allowed to be mutated outside of the produce function

[2018-12-03 08:39] mweststrate commented on #260
Immer currently doesn't apply freezing to the full tree, but only to the parts which are touched by immer itself. Full tree freezing might be expensive and can be easily achieved outside immer (for example by using the `deepfreeze` package.

[2018-12-03 13:11] aleclarson commented on #260
Objects you create in a producer are skipped by Immer during the finalization phase. You must be careful not to deep-freeze an object that contains a draft. If you're not sure, deep-freeze the object _outside_ its producer, since then you can guarantee any drafts have been swapped out.

Related: #230

[2018-12-03 13:11] #260 closed

[2018-12-03 19:31] nickguimond opened #261 "Usage with combine reducers does not freeze state"
I cannot figure out how to use this with combine reducers so that the state will become frozen at the root level. Perhaps this is something that could be addressed in the documentation? Or maybe i'm missing something that should be obvious?

[2018-12-03 20:13] nickguimond commented on #261
Nvm i my older version of redux was the issue :S

![image](https://user-images.githubusercontent.com/23345135/49398970-53ad2f00-f716-11e8-8e27-6ac1702c57d0.png)

All fixed 😎

[2018-12-06 13:18] aleclarson commented on #252
@RezaRahmati You can simplify that further:

[code]

[2018-12-08 21:12] zernie opened #262 "Can I use immer to work with state that has File objects, without touching them?"
So, let's say I have the following state:

     state = { entities: {}, ui:{}, files: [<File instances>]}

Can I use immer to modify state itself (not just its branches like `entities`), if I never change `files` in ` produce ` callback?

[2018-12-09 00:11] aleclarson commented on #247
Alternatively, we could use https://github.com/developit/microbundle (if you still believe Immer should be bundled before publishing).

[2018-12-11 16:47] markerikson commented on #225
@migueloller : just read through this thread.  I'm curious what your use case is for dispatching that many actions at once.  Could you contact me `@acemarke` on Reactiflux at some point, or maybe file a Redux issue for discussion?

[2018-12-11 16:56] aleclarson commented on #225
I believe [this plan of action](https://github.com/mweststrate/immer/issues/100#issuecomment-441821016) will fix this issue, which I plan to carry out once #258 is merged.

Basically, we can do some internal trickery to ensure purity without losing the `produce`'s copy-on-write behavior (even when using nested producers).

[2018-12-11 16:58] aleclarson commented on #225
@migueloller If you could find time to reproduce the issue in a test case, that would be __super helpful__.

[2018-12-11 17:31] migueloller commented on #225
@aleclarson, that would be great! I'll try to get a repro as soon as I have some time, something I find quite hard to find these days 😅

[2018-12-12 02:19] aleclarson opened #263 "Use semantic-release"
I've seen this library used to great effect. It eases maintenance burden.

https://github.com/semantic-release/semantic-release

👍or 👎?

[2018-12-12 02:21] aleclarson commented on #263
I can set it up to run on Travis.

[2018-12-12 04:58] johanventer opened #264 "No dist folder in 1.8.1 npm package"
1.8.1 was release 15 minutes ago, but there doesn't appear to be any actual code in the package - i.e. no dist folder. I just happened to be reinstalling all my modules at the time.

[2018-12-12 05:00] aleclarson commented on #264
Hmm, `semantic-release` must not be configured properly.

[2018-12-12 05:01] aleclarson commented on #264
The current `.travis.yml`:
https://github.com/mweststrate/immer/blob/e520350ab62b5e3aefa6e659b9d38e5a707988ab/.travis.yml#L13-L18

[2018-12-12 05:11] aleclarson commented on #264
Trying https://github.com/mweststrate/immer/commit/eebe57700ccf88aeff678b9fad61648cb123cf2b on branch __issue-264__.

[2018-12-12 05:18] #264 closed

[2018-12-13 14:51] mweststrate commented on #247
Oh that's cool! Didn't know it.

Further optimization: mange properties could be used to make the minified build smaller (with exceptions for publicly exposed property names).

[2018-12-13 14:54] mweststrate opened #266 "Idea: immer modern"
Immer is quite large (4KB) if you compare it with the possible minimal implementation.

We could introduce an additional build or package that only targets modern browser and skip some of the lesser used features, making it ideal to bundle with packages that target modern bundles

- no ES 5 support
- no patches, hooks
- no custom configs?
- no polyfills / use modern browser features (for of, Array

[2018-12-13 15:02] aleclarson commented on #266
Yeah, we better do it before someone else does. :P

[2018-12-13 15:21] aleclarson commented on #266
Also, we should use Jest snapshots more when testing it. :)

[2018-12-15 23:30] aleclarson commented on #205
:tada: This issue has been resolved in version 1.9.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/immer)
- [GitHub release](https://github.com/mweststrate/immer/releases/tag/v1.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-15 23:37] aleclarson commented on #243
:tada: This issue has been resolved in version 1.9.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/immer)
- [GitHub release](https://github.com/mweststrate/immer/releases/tag/v1.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-15 23:37] #243 closed

[2018-12-15 23:37] aleclarson commented on #254
:tada: This issue has been resolved in version 1.9.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/immer)
- [GitHub release](https://github.com/mweststrate/immer/releases/tag/v1.9.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-15 23:37] #254 closed

[2018-12-16 01:33] aleclarson commented on #260
The above solution can now be used in v1.9.0+

[2018-12-16 12:07] vladimiry opened #268 "v1.9.0 doesn't include the typescript declarations anymore but "types" prop in package.json is still set to "./dist/immer.d.ts""
The issue is self-explanatory.

So if you go with typescript you will get the following errors with v1.9.0:
[code]

[2018-12-16 12:30] benneq commented on #268
For me I don't get an error, but typings don't work at all. Everything is `any`. (But this may be, because I use `allowSyntheticDefaultImports`)

[code]

No `d.ts` file(s), as you can see.

[2018-12-16 12:57] aleclarson commented on #268
I found the issue. A patch will be out shortly.

Does anyone know if we can prevent a mistake like this in the future? I'm surprised that `tsc` doesn't fail when the `typings` field in `package.json` is pointing to a non-existent path.

[2018-12-16 13:03] benneq commented on #268
How about just adding a simple test somewhere, that reads `types` from `package.json` and checks if the file exists?

[2018-12-16 13:36] vladimiry commented on #268
I think the more reliable approach would be in running the simplest test written in typescript with the `strict` compilation mode enabled (which is by the way default option of executing `tsc --init` command, and I'm happy that it's). This test will need to be executed on `./dist` fodler, ie be placed to the end of the build pipeline (`build` npm script), so that would be a kind of e2e test. So if

[2018-12-16 13:46] aleclarson commented on #268
@vladimiry I found the issue there. We can just import `../dist/immer.js` instead of `../src/index.js` inside the TypeScript test. See here: https://github.com/mweststrate/immer/pull/269/commits/1b95ea9543caa7c70989796d47fc739cd9395d76

[2018-12-16 13:47] aleclarson commented on #268
Now I need to investigate why `yarn test:flow` was not failing.

[2018-12-16 13:52] vladimiry commented on #268
@aleclarson

This is exactly what I meant. But I'd suggest enabling `strict` compilation option in [this](https://github.com/mweststrate/immer/blob/4b9b6375d8deb855eaed44a48daa808c753a93a8/__tests__/test.tsconfig.json) config.

[2018-12-16 14:02] aleclarson commented on #268
Okay, the only thing holding this up is that `yarn test:flow` does not fail when `dist/immer.js.flow` is missing.

[2018-12-16 14:46] #268 closed

[2018-12-16 14:53] aleclarson commented on #268
:tada: This issue has been resolved in version 1.9.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/immer)
- [GitHub release](https://github.com/mweststrate/immer/releases/tag/v1.9.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 14:54] aleclarson commented on #268
Thanks for the assistance @vladimiry and @benneq

[2018-12-16 15:11] benneq opened #270 "Version 1.9.1 produce Typescript type inference is partly broken"
Sample Code from `readme.md`:

[code]

Type of `nextState` is `void`. It works correctly when I add `return draftState` at the end. Is this intended?

In my opinion there's no(?) case where `produce` shouldn't return anything. In other words: `produce` should always return something. Or am I wrong?

---

**EDIT:** I'm not entirely sure, but I think the typings should look something like that:

Old

[2018-12-16 15:30] benneq commented on #270
Thank you. That's really good to know :)

[2018-12-16 15:31] aleclarson commented on #270
Yeah it's one of those rites of passage when wrapping your head around Typescript. 😆

[2018-12-16 15:34] #270 closed

[2018-12-16 15:34] aleclarson commented on #270
Thanks for the bug report! ❤️

[2018-12-16 15:39] benneq commented on #270
I come from a Java background, and it's sometimes really confusing, because TypeScript's type system can do really weird things. It's really mighty. Sometimes I really miss some of it's features when writing Java code. And sometimes my brain starts to hurt when I look at some really complex TypeScript typings, like "extends with generics" or "infer" :D

But the good thing is: As long it's part of

[2018-12-16 15:41] aleclarson commented on #270
:tada: This issue has been resolved in version 1.9.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/immer)
- [GitHub release](https://github.com/mweststrate/immer/releases/tag/v1.9.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-16 15:43] aleclarson commented on #270
Whoops, I forgot to remove the `void` from the other two function signatures. Let me know if it's a problem.

[2018-12-16 15:44] benneq commented on #270
So far 1.9.2 works! But I guess, I have another issue with typings. I'll open a new issue in a few minutes.

Maybe you can fix the `void` stuff then for 1.9.3 :D

[2018-12-16 15:46] aleclarson commented on #266
Would it make sense for Immer 2.0 to be this?

[2018-12-16 15:53] benneq opened #272 "Version 1.9.1 Typescript issue with generics"
Hello again :D (hope, it doesn't get annoying)

I've written a small function:
[code]

Without using `as any` I get:
[code]

**This error only appears within this generic function in combination with Immer.**

These two cases work as expected:
[code]

[code]

[2018-12-16 15:56] aleclarson commented on #272
Thank you for finding these edge cases! Need to improve the typescript tests, I guess.

[2018-12-16 15:59] aleclarson commented on #272
Interestingly, when you explicitly type the `draft` parameter with `draft: T[]` (which _shouldn't_ be required), a new error appears:
[code]

[2018-12-16 16:01] aleclarson opened #273 "[TS] incorrect type inference when using curried function with initial state"
[code]

In the example above, the recipe function signature should take precedence over the initial state's type.

[2018-12-16 16:57] benneq commented on #272
I changed the code of `DraftArray` a bit (should still have the same "meaning", right?):
Old:
[code]
New:
[code]

This gives a new error message:
[code]
It looks like it chooses the right conditional statement.

And with a last small change to **my** code, the error is gone.
**The change to `DraftArray` is still necessary!**
Old:
[code]
New:
[code]

Of course this change shouldn't be necessary her

[2018-12-16 17:00] aleclarson commented on #272
What typescript version are you using? Changing the `DraftArray` did not change the error for me, but `extends any` prevents the error as you said.

[2018-12-16 17:03] benneq commented on #272
according to package.json:
[code]

But my tsconfig.json is a bit messy, because it's a legacy project with lot's of js and a bit of ts code:
[code]

[2018-12-16 17:03] aleclarson commented on #272
Using typescript 3.1.4, I'm getting `[ts] Expected 1-2 arguments, but got 3. [2554]` on the `draft.splice` line. I will try with 3.2.

[2018-12-16 17:07] aleclarson commented on #272
Using typescript 3.2.2, using your `DraftArray` has no effect. :S

[2018-12-16 17:14] benneq commented on #272
I've now tried 3.1.4

There I also get the `Expected 1-2 arguments, but got 3. ts(2554)` error.

Here's TypeScript's `lib.es5.d.ts`:
3.1.4:
[code]
3.2.2:
[code]
Looks the same. Maybe it's something from my `tsconfig.json` :(

Now back at `3.2.2`:
[code]

My `node_modules` is always up to date. I update my packages using `rm -rf package-lock.json node_modules && npm i` (a bit rough, I know, but thi

[2018-12-16 18:40] aleclarson commented on #272
Sorry, I was using a locally-linked version, which had some changes I made for #273. 😅

Still trying to figure this out.. Maybe it's just a Typescript bug?

[2018-12-17 03:04] aleclarson commented on #272
If you want to look into this more, you should..
- fork the `master` branch
- run `yarn && yarn test:dts --watch`
- in a new tab, run `yarn typed --watch`
- finally, try fixing any failed typescript tests by making changes to `src/immer.d.ts`

[2018-12-17 16:05] aleclarson commented on #272
@benneq Your last change to `DraftArray` fixes the `splice` call. But now, try a `push` call.

[2018-12-17 20:11] aleclarson commented on #272
I figured it out! 😄 See here: cb195cbd13905f6103668d9dd1204bf2984f2b9b

But there are still failing tests, so I won't publish 1.9.3 just yet.

[2018-12-17 20:22] benneq commented on #272
Wow. That‘s huge. Will try it soon

[2018-12-17 21:12] aleclarson commented on #272
Alright, I'm counting this as a TypeScript bug.

The best workaround is:
[code]

[2018-12-18 09:18] mweststrate commented on #272
@benneq could you setup a small TS based code sandbox (or some other online tool), to fiddle around more easily? I suspect we might be running in a TS limitation here, no be able to expre co- versus contra- variance in generics.

[2018-12-18 09:19] benneq commented on #272
Hi, I just downloaded you `next` branch. But give me a few minutes, I think I found a fundamental flaw within you Array typings!

Stay tuned!

[2018-12-18 13:21] aleclarson commented on #272
@mweststrate The `next` branch already contains a test for this. So far, the issue seems to be that `Draft<T>` is _not_ assignable to `T`.

@benneq I haven't read your diagnosis yet, but that last link looks like a good road to take after v1.9.3.

[2018-12-18 13:32] benneq commented on #272
My diagnonis can be summarized in 1 word: useless :D

Yes, maybe that‘s a better approach, but I think it won‘t fix the problem with generics.

[2018-12-18 13:40] aleclarson commented on #272
The following behavior is really confusing me:
[code]
*Note:* If you cannot reproduce, I have local changes that I need to push. :)